// SECTION :: START

.benefits {
	padding-top: 60px;
	padding-bottom: 10px;

	.c-grid {
		max-width: 80%;
		@include adaptive(1023) {
			max-width: 100%;
		}
	}

	&__box {
		position: relative;
		width: 100%;
		max-width: 240px;
		height: 110px;
		@include adaptive(767) {
			opacity: 0;
			@include transition(opacity);

			&-1 {
				opacity: 1 !important;
			}

			&.is-show {
				opacity: 1;
				@include transition(opacity);
			}
		}

		&.fade {
			animation-fill-mode: both;
			animation-name: fade;
			animation-duration: 1.5s;
			@include adaptive(767) {
				animation: unset;
			}
		}
		@keyframes fade {
			from {opacity: .4}
			to {opacity: 1}
		}

		> div {
			border: 1px solid silver;
			width: 220px;
			height: 110px;
			z-index: 1;
			box-shadow: 2px 0px 11px 0px silver;

			> div {
				border: 1px solid silver;
				width: 220px;
				height: 115px;
				margin-top: -15px;
				margin-left: 10px;
				z-index: 9;
				background-color: white;
				box-shadow: 2px 0px 11px 0px silver;

				> div {
					&:first-of-type {
						width: 100%;
						height: 50px;
						background-color: #663398;
						margin-left: 17px;
						margin-top: -20px;
						text-align: right;
						color: white;
						font-size: 35px;
						font-weight: bold;
						line-height: 50px;
						padding-right: 10%;
					}
					&:nth-of-type(2) {
						border: 2px solid orange;
						margin-top: 10px;
						margin-bottom: 10px;
						margin-left: 80px;
					}
					&:last-of-type {
						font-weight: bold;
						font-size: 13px;
						text-align: right;
						padding-right: 5px;

						> span {
							display: block;
						}
					}
				}
			}
		}

		&-wrapper {
			position: relative;
			display: flex;
			justify-content: space-between;

			> div {
				display: flex;
				justify-content: center;
				width: 100%;
				max-width: calc(100% / 3);
				@include adaptive(767) {
					max-width: 100%;

					&:not(:first-of-type) {
						position: absolute;
						top: 0;
						left: 50%;
						transform: translateX(-50%);
					}
				}
			}
		}
	}

	&__pagination {
		display: none;
		align-items: center;
		justify-content: center;
		padding-top: 20px;
		@include adaptive(767) {
			display: flex;
		}

		i {
			cursor: pointer;
			display: flex;
			height: 15px;
			width: 15px;
			margin: 0 3px;
			border-radius: 50%;
			background-color: #bbb;
			transition: background-color 0.35s ease-in-out;

			&.is-active,
			&:hover {
				background-color: #717171;
				transition: background-color 0.35s ease-in-out;
			}
		}
	}
}

// SECTION :: END
