.dashboard__news
	.dashboard__news-head
		div
			p Career Advice and News
		div

	.dashboard__news-body

		hr

		.dashboard__news-block-wrapper
			each val, idx in [1,2,3]
				div
					.dashboard__news-block
						.dashboard__news-block-head
							img(src="img/img-dashbobard-news.jpg" alt="")
						.dashboard__news-block-body
							p အလုပ်အသစ်ရရှိရန် အဟန့်အတားဖြစ်စေသည့်အဓိကအချက် ၃ ချက်
							span တစ်ခါတလေမှာ အလုပ်ရှာဖွေသူအများစုပြောတတ်တဲ့စကားက “ကုမ္ပဏီတွေကလည်း အလုပ်တွေသိပ်မခေါ်ကြဘူးနော်” ဒါမှမဟုတ် “အလုပ်တွေကလည်း သေချာလျှောက်ထားတာကို ခေါ်လည်းမခေါ်ကြဘူး၊ ငါ့ရဲ့အလုပ်လျှောက်လွှာကို ကြည့်ရောကြည့်ရဲ့လားမသိဘူး” ဆိုပြီး စိုးရိမ်ပူပန်ကာစောဒက တတ်ကြပါတယ်။ အကယ်၍ အလုပ်ရှာဖွေသူတစ်ယောက်အနေနဲ့ အခုဖော်ပြမယ့်အဓိကအချက် ၃ ချက်ကို သေချာပြန်လည်ဆန်းစစ်ပြီး ပြင်ဆင်လိုက်နာမယ်ဆိုရင်တော့ အောင်မြင်တဲ့အလုပ်လျှောက်မှုတစ်ခုဖြစ်မယ်ဆိုတာ သေချာပါတယ်။ ၁။ အလုပ်အကိုင်သတင်းတွေကိုမလေ့လာခြင်း ထီပေါက်ဖို့ကံပါတဲ့သူတစ်ယောက်ဟာ ထီမထိုးဘူးဆိုလျှင် ထီပေါက်နိုင်မည်မဟုတ်ပါ။ ထိုကဲ့သို့ပင် အလုပ်အသစ်လိုချင်သည့်သူတစ်ယောက်ဟာ စျေးကွက်ထဲတွင်မည်သည့်ကုမ္ပဏီများက မည်ကဲ့သို့အလုပ်အကိုင်အသစ်များကိုခေါ်ယူနေသည်ကို မလေ့လာ၊ မစုံစမ်းလျှင် အခွင့်အလမ်းအသစ်တွေနဲ့လွဲချော်သွားနိုင်ပြီး အလုပ်လျှောက်ထားမှုပြုလုပ်နိုင်မှာမဟုတ်ပါဘူး။ နောက်ပြီး ပြိုင်ဆိုင်မှုနဲ့ လိုအပ်မှုတွေအရမ်းများနေတဲ့စျေးကွက်ထဲမှာ ကိုယ့်အနေနဲ့ အချိန်နဲ့တပြေးညီအလုပ်အကိုင်သတင်းတွေကိုမသိဘူးဆိုရင် ကိုယ့်ရဲ့အလုပ်သစ်လျှောက်ထားမှုကို နှောင့်နှေးစေပါသည်။ တစ်ခါတလေမှာ အလုပ်ခေါ်ယူမှုတွေမရှိနိုင်လောက်ဘူးဆိုပြီး အလုပ်ရှာဖွေသူအများစုကထင်ကြပါတယ်။ ဘယ်လိုမျိုးအခြေအနေတွေဖြစ်နေပါစေ တကယ်လိုအပ်တဲ့အလုပ်တွေကို ခေါ်ယူနေတဲ့ကုမ္ပဏီတွေရှိပါတယ်။ အဓိကက အဲဒီလိုခေါ်ယူနေတဲ့သတင်းအချက်တွေကို အချိန်နဲ့အမျှသိရှိနေဖို့ပါပဲ။ မြန်မာနိုင်ငံ၏လုပ်ငန်းနယ်ပယ်အစုံမှာ လတ်တလောခေါ်ယူနေတဲ့အလုပ်အကိုင်သတင်းအစုံကိုသိရှိရန် ၂။ အလုပ်ခေါ်စာများကိုစေ့စပ်သေချာစွာမဖတ်ရှုခြင်း စျေးကွက်ထဲကအလုပ်အကိုင်အခွင့်အလမ်းတွေအကြောင်းကို သိရှိပြီးသွားပြီဆိုရင် နောက်ထပ်လုပ်ရမယ့်အရာကတော့ မိမိနဲ့ကိုက်ညီတဲ့အလုပ်ကိုသေချာရွေးချယ်ပြီးလျှောက်ထားဖို့ပါပဲ။ အလုပ်ရှာဖွေတဲ့အခါမှာ အလုပ်ရှာဖွေသူအများစုပြောတတ်တဲ့စကားကတော့ ခေါ်ယူနေတဲ့အလုပ်အများစုဟာ သူတို့နဲ့မကိုက်ညီဘူးဆိုတာပါပဲ။ တကယ်တမ်းက မိမိနဲ့ကိုက်ညီတဲ့အလုပ်ကိုရှာဖွေတဲ့အခါမှာ အလုပ်ခေါ်စာထဲမှာဖော်ပြထားတဲ့ရာထူးအမည် (Job Title) ကိုပဲကြည့်တာထက် အထဲမှာတာဝန်ယူလုပ်ဆောင်ရမယ့်ဖော်ပြချက်တွေကိုလည်း သေချာစွာဖတ်ရှုရပါမယ်။ ဘာဖြစ်လို့လဲဆိုတော့ တစ်ခါတလေမှာ ကုမ္ပဏီတွေဟာ သူတို့ရုံးတွင်းမှာအသုံးပြုလေ့ရှိတဲ့စကားလုံးတွေကို သုံးပြီးခေါ်ယူတဲ့အခါမှာ အလုပ်ရှာဖွေနေသူကထိုအခေါ်အဝေါ်နဲ့သိပ်မရင်းနှီးဘူးဆိုရင် မိမိနဲ့ကိုက်ညီတဲ့အလုပ်မဟုတ်ထင်ပြီး ကျော်သွားတတ်ပါတယ်။ ဥပမာဆိုရင် တချို့အဖွဲ့အစည်းတွေမှာ Sales Manager ဆိုတဲ့ရာထူးအမည်အစား Customer Development Manager လို့ခေါ်တတ်ပါသည်။ ဆက်လက်ဖတ်ရှုရန် &gt;&gt;&gt; အလုပ်ခေါ်စာထဲကဖော်ပြချက်တွေကိုသေချာဖတ်ရင် အလုပ်ရနိုင်ပါတယ်
							.dashboard__news-block-footer
								.c-btn__wrapper.c-btn__wrapper--center
									a.c-btn.c-btn--purple(href="#")
										span Read More

		.c-btn__wrapper.c-btn__wrapper--center
			a.c-btn.c-btn--green(href="#")
				span View more news
				i.icon-font.icon-double-arrows
