// SECTION :: START

section#dashboard.dashboard

	.c-grid

		.dashboard__wrapper
			.dashboard__wrapper-left

				include _manage

			.dashboard__wrapper-right

				include _dashbboard--stat

				include _dashbboard--employers

				include _dashbboard--jobs

				.dashboard__line

				include _dashbboard--hiring

				include _dashbboard--news

// SECTION :: END
