.dashboard__stat-wrapper
	.dashboard__stat-heading
		p JobNet Profile Statistics
	div
		.dashboard__stat
			.dashboard__stat-head
				p employers views
			.dashboard__stat-body
				p 9
				a(href="#") Who Viewed Your Profile
	div
		.dashboard__stat
			.dashboard__stat-head
				p applications
			.dashboard__stat-body
				p 6
				a(href="#") Jobs You Applied
	div
		.dashboard__stat
			.dashboard__stat-head
				p job alerts
			.dashboard__stat-body
				p 1
				a(href="#") Your Job Alerts
