// SECTION :: START

section#description.description.description--career
	.c-grid

		p.description__title.c-title!= "Employer Summary"

		p.description__desc!= "Unilever Myanmar Group of Companies (UEMCL, UMM, UMS) has been providing millions of people in Myanmar with home care, personal care, and food products. There are over 400 brands under Unilever and most of them are prominent household names. As a matter of fact, there is at least one Unilever product in seven out of ten households."

		#descriptionCollapse.collapse
				p.description__desc The company believes in a sustainable business plan. This means that, while we want to grow, we recognize that development should not come at the expense of people or the environment. This is why the company came up with USLP or Unilever Sustainable Living Plan – a plan that the company considers essential in their business model.

				p.description__desc Unilever wants to lead a brighter future in Myanmar. In 2017, we embarked on a joint venture forming Unilever EAC Company Limited (UEMCL) which makes us the biggest Home and Personal Care company in the country. We offer Myanmar consumers a wide range of leading brands in three categories; Home Care, Personal Care and Foods Products. Our brands include Family Care, Lifebuoy, Elan, Win, Pond’s, Sunsilk, Miss, O2, Dove, 3D, Signal, Clear, Lux, Close-Up, Fair & Lovely, Knorr and Unilever Food Solutions. In everything we do, we strive to “lead for a brighter future for the people of Myanmar. “We help our consumers feel good, look good and get more out of life with our brands and services that are good for them and good for others.

				p.description__desc Rest assured that the company will provide you with development opportunities, benefits, and an organizational culture that embraces diversity. Further your career with us! Check the numerous job opportunities that the company offers.

		.description__more
			a(data-more='Read More' data-less='Read Less' data-toggle='collapse', href='#descriptionCollapse', role='button', aria-expanded='false', aria-controls='descriptionCollapse')



// SECTION :: END
