// SECTION :: START

section#career-details.career-details
	.c-grid
		.career-details__wrapper

			.career-details__block
				div
					.career-details__block-icon
						i.icon-font.icon-like
					u
				div
					.career-details__block-title
						.career-details__block-icon
							i.icon-font.icon-like
						div
							p Company vision and mission
					span.career-details__block-desc Our vision is we work to create a better future every day.

			.career-details__block
				div
					.career-details__block-icon
						i.icon-font.icon-like
					u
				div
					.career-details__block-title
						.career-details__block-icon
							i.icon-font.icon-like
						div
							p What we do
					span.career-details__block-desc Unilever Myanmar Group of Companies (UEMCL, UMM, UMS) has been providing billions of people all over the world with home care, personal care, and food products. There are over 400 brands under Unilever and most of them are prominent household names. As a matter of fact, there is at least one Unilever product in seven out of ten households.
					span.career-details__block-desc The company believes in a sustainable business plan. This means that, while Unilever wants to grow, they recognize that development should not come at the expense of people or the environment. This is why the company came up with USLP or Unilever Sustainable Living Plan – a plan that the company considers essential in their business model.
					span.career-details__block-desc Unilever wants to lead a brighter future in Myanmar. In 2017, we embarked on a joint venture forming Unilever EAC Company Limited (UEMCL) which makes us the biggest Home and Personal Care company in the country. We offer Myanmar consumers a wide range of leading brands in three categories; Home Care, Personal Care and Foods Products. Our brands include Family Care, Lifebuoy, Elan, Win, Pond’s, Sunsilk, Miss, O2, Dove, 3D, Signal, Clear, Lux, Close-Up, Fair & Lovely, Knorr and Unilever Food Solutions. In everything we do, we strive to “lead for a brighter future for the people of Myanmar. “ We help our consumers feel good, look good and get more out of life with our brands and services that are good for them and good for others.
					span.career-details__block-desc Rest assured that the company will provide you with development opportunities, benefits, and an organizational culture that embraces diversity. Further your career with the aid of Unilever! Check the numerous job opportunities that the company offers.

			.career-details__block
				div
					.career-details__block-icon
						i.icon-font.icon-like
					u
				div
					.career-details__block-title
						.career-details__block-icon
							i.icon-font.icon-like
						div
							p Why you should join us
					span.career-details__block-desc We are here to lead for a brighter future for Myanmar people,with development opportunities,benefits and a working culture that embraces diversity. So whether you’re looking for graduate opportunities,or job opening progress your professional career.

			.career-details__block
				div
					.career-details__block-icon
						i.icon-font.icon-like
					u
				div
					.career-details__block-title
						.career-details__block-icon
							i.icon-font.icon-like
						div
							p Our workplace and culture
					span.career-details__block-desc We help our consumers feel good, look good and get more out of life with our brands and services that are good for them and good for others. Join us...be a part of a team who works to create a better future for Myanmar people every day...


// SECTION :: END
