// SECTION :: START

section#career-main.career-main

	.career-main__bg

	.c-grid
		.career-main__wrapper.career-main__wrapper-1
			div()
				a(href="#")
					img(src="img/img-career-main-badge.png" alt="")

		.career-main__wrapper.career-main__wrapper-2

			.career-main__box
				.career-main__box-left
					img(src="img/img-employers-kbz-bank.png" alt="")

				.career-main__box-middle
					.career-main__box-head
						div
							p.career-main__box-title Unilever Myanmar Group

				.career-main__box-right

					.career-main__box-head
						div
							p.career-main__box-title Unilever Myanmar Group
						div
							.c-btn__wrapper
								a.c-btn.c-btn--green(href="#")
									span Submit General Application!

								a.career-main__box-qr(href="#")
									img(src="img/img-career-qr.png" alt="")

					.career-main__box-body
						div
							ul.career-main__box-info
								li
									div
										i.icon-font.icon-user
									div
										p
											strong Employer Type :
											span Direct Employer
								li
									div
										u
									div
										p
											strong Industry :
											span FMCG, Manufacturing
								li
									div
										u
									div
										p
											strong No Employees :
											span 501-1000
						div
							ul.career-main__box-info
								li
									div
										i.icon-font.icon-pin
									div
										p
											strong Address :
									div
										p
											span Mimosa Office Building, No. (196/A), West Shwe Gone Dai 5th Street, Bahan Township,Yangon, Myanmar

// SECTION :: END
