// SECTION :: START

section#career-video.career-video
	.c-grid
		.career-video__wrapper.career-video__wrapper-1

			.description.description--career
				.description__more
					a(href='#') Watch Video

		.career-video__wrapper.career-video__wrapper-2

			a.career-video__box(href='https://www.youtube.com/embed/3PwpAqqXJDs' style='background-image: url("img/img-career-video-bg.png")' data-effect='mfp-zoom-in' popup-video-js)

// SECTION :: END
