&__banner {
	display: flex;
	align-items: flex-end;
	height: 180px;
	padding: 10px 0;
	background-image: url('../img/img-jobdetails-banner.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	@include adaptive(1023) {
		display: none;
	}
}
