&__description {
	display: flex;
	flex-direction: column;

	&-title {
		padding: 20px 0 15px;
		font-family: 'Quicksand', sans-serif;
		font-weight: 700;
		font-size: 20px;
	}

	&-subtitle {
		font-weight: 500;
	}

	&-wrapper {
		padding-left: 30px;
		padding-right: 30px;
		@include adaptive(767) {
			padding-left: 0;
			padding-right: 0;
		}

		&:not(:last-of-type) {
			border-bottom: 1px solid #e2e0e0;
		}

		&:nth-of-type(1) {
			.job-details__description-title {
				padding-top: 0;
			}
		}
	}

	&-contant {
		padding-left: 15px;
		padding-bottom: 20px;

		&--text {
			> p {
				&:not(:last-of-type) {
					padding-bottom: 20px;
				}
			}
		}
	}

	&-details {
		display: flex;
		align-items: center;

		&-wrapper {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding-bottom: 20px;
			@include adaptive(1023) {
				flex-wrap: wrap;
				padding-left: 20px;

				> div {
					width: 100%;

					&:not(:last-of-type) {
						padding-bottom: 10px;
					}
				}
			}
		}

		.icon-font {
			margin-right: 5px;
			color: #1AC880;
			font-size: 18px;
		}

		span {
			line-height: 1;
			font-size: 14px;
			color: #999999;
		}
	}

	ol,
	ul {
		margin: 14px 10px 14px 10px;
		padding-left: 10px;

		li {
			line-height: 1.5;

			strong {
				font-weight: 500;
			}
		}
	}

	ul {
		li {
			list-style-type: disc;
		}
	}

	ol {
		li {
			list-style-type: decimal;
		}
	}
}
