@charset "UTF-8";
@font-face {
  font-family: "iconFont";
  src: url("../fonts/iconFont.eot");
  src: url("../fonts/iconFont.eot?#iefix") format("eot"), url("../fonts/iconFont.woff2") format("woff2"), url("../fonts/iconFont.woff") format("woff"), url("../fonts/iconFont.ttf") format("truetype"), url("../fonts/iconFont.svg#iconFont") format("svg");
}

/* line 23, src/scss/_generated/_spriteFont.scss */
.icon-facebook:before, .icon-google:before, .icon-linkedin:before {
  font-family: "iconFont", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}

/* line 44, src/scss/_generated/_spriteFont.scss */
.icon-facebook:before {
  content: "";
}

/* line 44, src/scss/_generated/_spriteFont.scss */
.icon-google:before {
  content: "";
}

/* line 44, src/scss/_generated/_spriteFont.scss */
.icon-linkedin:before {
  content: "";
}

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Bold.woff2") format("woff2"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype"), url("../fonts/ProximaNova-Bold.svg#ProximaNova") format("svg");
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Extrabld.woff2") format("woff2"), url("../fonts/ProximaNova-Extrabld.woff") format("woff"), url("../fonts/ProximaNova-Extrabld.ttf") format("truetype"), url("../fonts/ProximaNova-Extrabld.svg#ProximaNova") format("svg");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Light.woff2") format("woff2"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype"), url("../fonts/ProximaNova-Light.svg#ProximaNova") format("svg");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Semibold.woff2") format("woff2"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype"), url("../fonts/ProximaNova-Semibold.svg#ProximaNova") format("svg");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Black.woff2") format("woff2"), url("../fonts/ProximaNova-Black.woff") format("woff"), url("../fonts/ProximaNova-Black.ttf") format("truetype"), url("../fonts/ProximaNova-Black.svg#ProximaNova") format("svg");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype"), url("../fonts/ProximaNova-Regular.svg#ProximaNova") format("svg");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

/* line 1, src/scss/_shared/_main-setting-reset.scss */
html,
body {
  width: 100%;
  min-height: 100vh;
}

/* line 6, src/scss/_shared/_main-setting-reset.scss */
html.is-hideScroll,
body.is-hideScroll {
  overflow: hidden !important;
}

/* line 12, src/scss/_shared/_main-setting-reset.scss */
html {
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 18, src/scss/_shared/_main-setting-reset.scss */
body {
  overflow-x: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #fff;
  line-height: 1.42857143;
  font-size: 14px;
  font-weight: normal;
  font-family: "ProximaNova", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 32, src/scss/_shared/_main-setting-reset.scss */
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

/* line 37, src/scss/_shared/_main-setting-reset.scss */
body > .body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

/* line 43, src/scss/_shared/_main-setting-reset.scss */
body > .body--start {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

/* line 50, src/scss/_shared/_main-setting-reset.scss */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 53, src/scss/_shared/_main-setting-reset.scss */
*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 60, src/scss/_shared/_main-setting-reset.scss */
button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  margin: 0;
}

/* line 70, src/scss/_shared/_main-setting-reset.scss */
button,
input {
  overflow: visible;
}

/* line 76, src/scss/_shared/_main-setting-reset.scss */
button[disabled] {
  opacity: 0.55;
  cursor: not-allowed;
}

/* line 82, src/scss/_shared/_main-setting-reset.scss */
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/* line 88, src/scss/_shared/_main-setting-reset.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 94, src/scss/_shared/_main-setting-reset.scss */
textarea {
  overflow: auto;
}

/* line 99, src/scss/_shared/_main-setting-reset.scss */
p,
h1, h2, h3, h4, h5, h6,
hr {
  margin: 0;
  padding: 0;
}

/* line 107, src/scss/_shared/_main-setting-reset.scss */
ul {
  margin: 0;
  padding: 0;
}

/* line 112, src/scss/_shared/_main-setting-reset.scss */
ul li {
  list-style: none;
}

/* line 118, src/scss/_shared/_main-setting-reset.scss */
a {
  outline: none;
  text-decoration: none;
}

/* line 123, src/scss/_shared/_main-setting-reset.scss */
a:hover, a:focus {
  text-decoration: none;
}

/* line 130, src/scss/_shared/_main-setting-reset.scss */
input[type="text"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* line 134, src/scss/_shared/_main-setting-reset.scss */
picture {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 8, src/scss/_shared/_grid.scss */
.c-grid, .c-grid-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

/* line 20, src/scss/_shared/_grid.scss */
.c-grid {
  max-width: 1280px;
}

/* line 26, src/scss/_shared/_grid.scss */
.c-grid-fluid {
  max-width: 100%;
}

/* line 3, src/scss/_shared/_common.scss */
.social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 8, src/scss/_shared/_common.scss */
.social__item:not(:last-of-type) {
  padding-right: 5px;
}

/* line 13, src/scss/_shared/_common.scss */
.social__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 36px;
  height: 36px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #ffffff;
  -webkit-transition: background-color 0.4s ease-in-out;
  -o-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}

/* line 23, src/scss/_shared/_common.scss */
.social__link:hover {
  background-color: #663399;
  -webkit-transition: background-color 0.4s ease-in-out;
  -o-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}

/* line 27, src/scss/_shared/_common.scss */
.social__link:hover .icon-font {
  color: #ffffff;
  -webkit-transition: color 0.4s ease-in-out;
  -o-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}

/* line 33, src/scss/_shared/_common.scss */
.social__link .icon-font {
  color: #373656;
  font-size: 18px;
  -webkit-transition: color 0.4s ease-in-out;
  -o-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}

/* line 38, src/scss/_shared/_common.scss */
.social__link .icon-font.icon-google {
  font-size: 29px;
}

/* line 45, src/scss/_shared/_common.scss */
.copyright {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 48, src/scss/_shared/_common.scss */
.copyright + .copyright {
  padding-left: 30px;
}

/* line 52, src/scss/_shared/_common.scss */
.copyright__text {
  color: #ffffff;
}

/* line 55, src/scss/_shared/_common.scss */
.copyright__text a {
  position: relative;
  color: #ffffff;
}

/* line 60, src/scss/_shared/_common.scss */
.copyright__text a:hover:before, .copyright__text a:hover:after {
  width: 50%;
  -webkit-transition: width 0.4s ease-in-out;
  -o-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* line 67, src/scss/_shared/_common.scss */
.copyright__text a:before, .copyright__text a:after {
  content: '';
  position: absolute;
  top: 100%;
  width: 0;
  height: 1px;
  background-color: #ffffff;
  -webkit-transition: width 0.4s ease-in-out;
  -o-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* line 77, src/scss/_shared/_common.scss */
.copyright__text a:before {
  left: 50%;
}

/* line 80, src/scss/_shared/_common.scss */
.copyright__text a:after {
  right: 50%;
}

/* line 87, src/scss/_shared/_common.scss */
.browse {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 91, src/scss/_shared/_common.scss */
.browse__title {
  padding-right: 30px;
  color: #ffffff;
  font-size: 16px;
}

/* line 97, src/scss/_shared/_common.scss */
.browse__link {
  position: relative;
  color: #ffffff;
  text-transform: uppercase;
}

/* line 102, src/scss/_shared/_common.scss */
.browse__link:not(:last-of-type) {
  margin-right: 15px;
}

/* line 106, src/scss/_shared/_common.scss */
.browse__link:hover {
  color: #ffffff;
}

/* line 109, src/scss/_shared/_common.scss */
.browse__link:hover:before, .browse__link:hover:after {
  width: 50%;
  -webkit-transition: width 0.4s ease-in-out;
  -o-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* line 116, src/scss/_shared/_common.scss */
.browse__link:before, .browse__link:after {
  content: '';
  position: absolute;
  top: 100%;
  width: 0;
  height: 1px;
  background-color: #ffffff;
  -webkit-transition: width 0.4s ease-in-out;
  -o-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* line 126, src/scss/_shared/_common.scss */
.browse__link:before {
  left: 50%;
}

/* line 129, src/scss/_shared/_common.scss */
.browse__link:after {
  right: 50%;
}

/* line 1, src/scss/_shared/_iconFont.scss */
.icon-font {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  line-height: 1;
}

/* line 4, src/scss/_macros/_logotype.scss */
.logo.logo--footer {
  padding-bottom: 65px;
}

/* line 8, src/scss/_macros/_logotype.scss */
.logo__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* line 13, src/scss/_macros/_logotype.scss */
.logo__img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* line 3, src/scss/_macros/_title.scss */
.c-title {
  color: #222222;
  font-size: 40px;
  font-weight: bold;
}

/* line 8, src/scss/_macros/_title.scss */
.c-title a {
  color: #663399;
}

/* line 3, src/scss/_components/_footer.scss */
.footer {
  background-color: #373656;
}

/* line 6, src/scss/_components/_footer.scss */
.footer__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 9, src/scss/_components/_footer.scss */
.footer__wrapper-1 {
  padding-top: 45px;
  padding-bottom: 35px;
}

/* line 14, src/scss/_components/_footer.scss */
.footer__wrapper-1 .footer__wrapper-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 353px;
}

/* line 22, src/scss/_components/_footer.scss */
.footer__wrapper-1 .footer__wrapper-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
}

/* line 29, src/scss/_components/_footer.scss */
.footer__wrapper-1 .footer__wrapper-right > div:not(:last-of-type) {
  padding-right: 70px;
}

/* line 37, src/scss/_components/_footer.scss */
.footer__wrapper-2 {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 55px;
  border-top: 1px solid #4b4a67;
}

/* line 44, src/scss/_components/_footer.scss */
.footer__wrapper-2 .footer__wrapper-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 52, src/scss/_components/_footer.scss */
.footer__title {
  padding-bottom: 25px;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

/* line 60, src/scss/_components/_footer.scss */
.footer__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* line 65, src/scss/_components/_footer.scss */
.footer__nav-link {
  white-space: nowrap;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  font-size: 16px;
}

/* line 72, src/scss/_components/_footer.scss */
.footer__nav-link:not(:last-of-type) {
  margin-bottom: 10px;
}

/* line 76, src/scss/_components/_footer.scss */
.footer__nav-link:hover {
  color: #ffffff;
}

/* line 79, src/scss/_components/_footer.scss */
.footer__nav-link:hover:before, .footer__nav-link:hover:after {
  width: 50%;
  -webkit-transition: width 0.4s ease-in-out;
  -o-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* line 86, src/scss/_components/_footer.scss */
.footer__nav-link:before, .footer__nav-link:after {
  content: '';
  position: absolute;
  top: 100%;
  width: 0;
  height: 1px;
  background-color: #ffffff;
  -webkit-transition: width 0.4s ease-in-out;
  -o-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* line 96, src/scss/_components/_footer.scss */
.footer__nav-link:before {
  left: 50%;
}

/* line 99, src/scss/_components/_footer.scss */
.footer__nav-link:after {
  right: 50%;
}

/* line 3, src/scss/_components/homepage/_description.scss */
.description {
  padding-top: 60px;
  padding-bottom: 30px;
}

/* line 7, src/scss/_components/homepage/_description.scss */
.description__title {
  padding-bottom: 30px;
}

/* line 11, src/scss/_components/homepage/_description.scss */
.description__desc {
  padding-bottom: 20px;
  color: #6e6e6e;
  font-size: 18px;
}

/* line 16, src/scss/_components/homepage/_description.scss */
.description__desc a {
  color: #663399;
  font-weight: bold;
}

/* line 22, src/scss/_components/homepage/_description.scss */
.description__more {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 20px;
}

/* line 30, src/scss/_components/homepage/_description.scss */
.description__more:hover:after {
  background-color: #663399;
  -webkit-transition: background-color 0.4s ease-in-out;
  -o-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}

/* line 35, src/scss/_components/homepage/_description.scss */
.description__more:hover a {
  color: #663399;
  -webkit-transition: color 0.4s ease-in-out;
  -o-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}

/* line 41, src/scss/_components/homepage/_description.scss */
.description__more:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #dcdcdc;
  -webkit-transition: background-color 0.4s ease-in-out;
  -o-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}

/* line 52, src/scss/_components/homepage/_description.scss */
.description__more a {
  z-index: 2;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 100px;
  padding-left: 15px;
  background-color: #ffffff;
  color: #6e6e6e;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transition: color 0.4s ease-in-out;
  -o-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}

/* line 64, src/scss/_components/homepage/_description.scss */
.description__more a:after {
  content: attr(data-more);
}

/* line 74, src/scss/_components/homepage/_description.scss */
.description .collapse.show + .description__more a:after {
  content: attr(data-less);
}

/* line 3, src/scss/_components/homepage/_popular.scss */
.popular {
  padding-top: 30px;
  padding-bottom: 60px;
}

/* line 7, src/scss/_components/homepage/_popular.scss */
.popular #pills-tab {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 15px;
  border-bottom: 2px solid #dcdcdc;
}

/* line 14, src/scss/_components/homepage/_popular.scss */
.popular #pills-tab a {
  position: relative;
  padding-bottom: 15px;
  color: #6e6e6e;
  font-size: 20px;
  font-weight: bold;
  -webkit-transition: color 0.4s ease-in-out;
  -o-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}

/* line 22, src/scss/_components/homepage/_popular.scss */
.popular #pills-tab a:after {
  content: '';
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: -webkit-calc(100% + 2px);
  top: calc(100% + 2px);
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #663399;
  -webkit-transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}

/* line 35, src/scss/_components/homepage/_popular.scss */
.popular #pills-tab a:hover {
  color: #663399;
  -webkit-transition: color 0.4s ease-in-out;
  -o-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}

/* line 40, src/scss/_components/homepage/_popular.scss */
.popular #pills-tab a.active {
  color: #663399;
  -webkit-transition: color 0.4s ease-in-out;
  -o-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}

/* line 44, src/scss/_components/homepage/_popular.scss */
.popular #pills-tab a.active:after {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}

/* line 53, src/scss/_components/homepage/_popular.scss */
.popular #pills-tabContent {
  padding-top: 30px;
}

/* line 56, src/scss/_components/homepage/_popular.scss */
.popular #pills-tabContent .tab-pane-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 62, src/scss/_components/homepage/_popular.scss */
.popular #pills-tabContent .tab-pane-content > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 65, src/scss/_components/homepage/_popular.scss */
.popular #pills-tabContent .tab-pane-content > div:nth-of-type(2), .popular #pills-tabContent .tab-pane-content > div:nth-of-type(3) {
  padding-left: 5px;
  padding-right: 5px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* line 72, src/scss/_components/homepage/_popular.scss */
.popular #pills-tabContent .tab-pane-content > div:last-of-type {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/* line 79, src/scss/_components/homepage/_popular.scss */
.popular #pills-tabContent .tab-pane-content ul li:not(:last-of-type) {
  padding-bottom: 10px;
}

/* line 84, src/scss/_components/homepage/_popular.scss */
.popular #pills-tabContent .tab-pane-content ul a {
  position: relative;
  color: #6e6e6e;
  font-size: 16px;
  -webkit-transition: color 0.4s ease-in-out;
  -o-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}

/* line 90, src/scss/_components/homepage/_popular.scss */
.popular #pills-tabContent .tab-pane-content ul a:hover {
  color: #663399;
  -webkit-transition: color 0.4s ease-in-out;
  -o-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}

/* line 94, src/scss/_components/homepage/_popular.scss */
.popular #pills-tabContent .tab-pane-content ul a:hover:before, .popular #pills-tabContent .tab-pane-content ul a:hover:after {
  width: 50%;
  -webkit-transition: width 0.4s ease-in-out;
  -o-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* line 101, src/scss/_components/homepage/_popular.scss */
.popular #pills-tabContent .tab-pane-content ul a:before, .popular #pills-tabContent .tab-pane-content ul a:after {
  content: '';
  position: absolute;
  top: 100%;
  width: 0;
  height: 1px;
  background-color: #663399;
  -webkit-transition: width 0.4s ease-in-out;
  -o-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* line 111, src/scss/_components/homepage/_popular.scss */
.popular #pills-tabContent .tab-pane-content ul a:before {
  left: 50%;
}

/* line 114, src/scss/_components/homepage/_popular.scss */
.popular #pills-tabContent .tab-pane-content ul a:after {
  right: 50%;
}

/* line 121, src/scss/_components/homepage/_popular.scss */
.popular #pills-tabContent .fade {
  -webkit-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

/*# sourceMappingURL=maps/app.css.map */
