// SECTION :: START

section#manage.manage.section(sticky-box-js)

	.manage__profile
		include _profile--main

	.manage__upload
		a.manage__upload-title(href="#") Upload Your Latest CV
		.manage__upload-subtitle
			div
				p Sent to Employers with your Job Application
			div
				i.icon-font.icon-information

		.c-btn__wrapper
			a.c-btn.c-btn--red(href="#")
				span Upload your CV

// SECTION :: END
