.profile__employers
	.profile__employers-divider

	p.profile__employers-title LEADING EMPLOYERS

	.profile__employers-link-wrapper
		each val, idx in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18]
			div
				a.profile__employers-link(href="#")
					img(src="img/img-employers-kbz-bank.png" alt="")

	.profile__employers-divider
