// SECTION :: START

section#employers.employers.employers--insurance-jobs
	.c-grid

		p.employers__title.c-title Top Insurance Employers

		.employers__wrapper
			div
				a.employers__box(href="#")
					.employers__box-head
						img(src="img/img-kbz-ms.png" alt="")
					.employers__box-body
						p KBZ MS


// SECTION :: END
