// SECTION :: START

section#insurance-jobs.insurance-jobs
	.c-grid

		p.insurance-jobs__title
			span Top Insurance Jobs In Myanmar

		.insurance-jobs__wrapper

			include _search--job

			.c-btn__wrapper
				a.c-btn.c-btn--green(href="#" title='')
					span View More Jobs

// SECTION :: END
