// SECTION :: START

section#recommended.recommended
	.c-grid
		.recommended__wrapper

			.recommended__header
				p!= "<b>1</b> Jobs Viewed"
				p!= "<b>6</b> Jobs Applied"

			.recommended__box-wrapper
				.recommended__box
					.recommended__box-head
						p JOBS BASED ON YOUR PROFILE
					.recommended__box-body
						.c-btn__wrapper.recommended__box-profile
							a.c-btn.c-btn--orange(href="#")
								i.icon-font.icon-user
								span My Profile

						.recommended__box-block-wrapper
							each val, idx in [1,2,3,4,5,6,7,8]
								div
									a.recommended__box-block(href="#")
										.recommended__box-block-head
											.recommended__box-block-logo
												img(src="img/img-employers-kbz-bank.png" alt="")
											.recommended__box-block-deails
												p.recommended__box-block-subtitle TRE (Top Realty Enterprise Co., Ltd)
												p.recommended__box-block-desc Marketing, Media, Creative
										.recommended__box-block-body
											p.recommended__box-block-title Digital Marketing Manager (Mandalay)
											p.recommended__box-block-subtitle TRE (Top Realty Enterprise Co., Ltd)
											p.recommended__box-block-desc Marketing, Media, Creative
										.recommended__box-block-footer
											.c-btn__wrapper
												button.c-btn.c-btn--purple(type='submit')
													span Apply Now
											div
												p
													i.icon-font.icon-calendar-1
													span 01.10.2020
											div
												p
													i.icon-font.icon-pin
													span Yangon

						.c-btn__wrapper.c-btn__wrapper--center.recommended__box-more
							a.c-btn.c-btn--borderGreen(href="#")
								span See More Jobs

				.recommended__box
					.recommended__box-head
						p JOBS BASED ON YOUR APPLICATIONS
					.recommended__box-body

						.recommended__box-block-wrapper
							each val, idx in [1,2,3,4,5,6,7,8]
								div
									a.recommended__box-block(href="#")
										.recommended__box-block-head
											.recommended__box-block-logo
												img(src="img/img-employers-kbz-bank.png" alt="")
											.recommended__box-block-deails
												p.recommended__box-block-subtitle TRE (Top Realty Enterprise Co., Ltd)
												p.recommended__box-block-desc Marketing, Media, Creative
										.recommended__box-block-body
											p.recommended__box-block-title Digital Marketing Manager (Mandalay)
											p.recommended__box-block-subtitle TRE (Top Realty Enterprise Co., Ltd)
											p.recommended__box-block-desc Marketing, Media, Creative
										.recommended__box-block-footer
											.c-btn__wrapper
												button.c-btn.c-btn--purple(type='submit')
													span Apply Now
											div
												p
													i.icon-font.icon-calendar-1
													span 01.10.2020
											div
												p
													i.icon-font.icon-pin
													span Yangon

						.c-btn__wrapper.c-btn__wrapper--center.recommended__box-more
							a.c-btn.c-btn--borderGreen(href="#")
								span See More Jobs

				.recommended__box
					.recommended__box-head
						p JOBS BASED ON YOUR VIEWS
					.recommended__box-body

						.recommended__box-block-wrapper
							each val, idx in [1,2,3,4,5,6,7,8]
								div
									a.recommended__box-block(href="#")
										.recommended__box-block-head
											.recommended__box-block-logo
												img(src="img/img-employers-kbz-bank.png" alt="")
											.recommended__box-block-deails
												p.recommended__box-block-subtitle TRE (Top Realty Enterprise Co., Ltd)
												p.recommended__box-block-desc Marketing, Media, Creative
										.recommended__box-block-body
											p.recommended__box-block-title Digital Marketing Manager (Mandalay)
											p.recommended__box-block-subtitle TRE (Top Realty Enterprise Co., Ltd)
											p.recommended__box-block-desc Marketing, Media, Creative
										.recommended__box-block-footer
											.c-btn__wrapper
												button.c-btn.c-btn--purple(type='submit')
													span Apply Now
											div
												p
													i.icon-font.icon-calendar-1
													span 01.10.2020
											div
												p
													i.icon-font.icon-pin
													span Yangon

						.c-btn__wrapper.c-btn__wrapper--center.recommended__box-more
							a.c-btn.c-btn--borderGreen(href="#")
								span See More Jobs

// SECTION :: END
