// SECTION :: START

section#profile.profile
	.c-grid
		.profile__wrapper
			.profile__wrapper-left


				include _profile--main

				include _profile--strength

				include _profile--about

				include _profile--experience

				include _profile--skills

				include _profile--languages

				include _profile--references

				include _profile--preferred

				include _profile--manage

			.profile__wrapper-right

				.profile__section

					include _profile--jobs

					include _profile--employers

					include _profile--news

// SECTION :: END
