.profile__references.section__block
	.profile__references-header
		div
			p.profile__references-title REFERENCES
		div
			a.profile__references-edit(href="#" data-toggle="modal" data-target="#modalProfileReferences")
				i.icon-font.icon-plus
				span Add

	.profile__references-box-wrapper
		div
			.profile__references-box
				div
					h5 Title
					p Subtitle
					span Description
				div
					a(href="#" data-toggle="modal" data-target="#modalProfileReferences")
						i.icon-font.icon-edit
						span Edit
		div
			.profile__references-box
				div
					h5 Title
					p Subtitle
					span Description
				div
					a(href="#" data-toggle="modal" data-target="#modalProfileReferences")
						i.icon-font.icon-edit
						span Edit
		div
			.profile__references-box
				div
					h5 Title
					p Subtitle
					span Description
				div
					a(href="#" data-toggle="modal" data-target="#modalProfileReferences")
						i.icon-font.icon-edit
						span Edit

	.section__block-empty
		p Add References to make your profile look more professional.
		.c-btn__wrapper.c-btn__wrapper--center
			a.c-btn.c-btn--green(href="#" data-toggle="modal" data-target="#modalProfileReferences")
				span Add REFERENCES
