.profile__preferred.section__block
	.profile__preferred-header
		div
			p.profile__preferred-title PREFERRED INDUSTRIES TO WORK
		div
			a.profile__preferred-edit(href="#" data-toggle="modal" data-target="#modalProfilePreferred")
				i.icon-font.icon-edit
				span Edit

	.profile__preferred-box-wrapper
		div
			.profile__preferred-box
				div
					.profile__preferred-box-icon
						i.icon-font.icon-bank
				div
					a(href="#") Accounting/Audit/Tax Services
					p 23 open jobs
		div
			.profile__preferred-box
				div
					.profile__preferred-box-icon
						i.icon-font.icon-bank
				div
					a(href="#") Accounting/Audit/Tax Services
					p 23 open jobs
		div
			.profile__preferred-box
				div
					.profile__preferred-box-icon
						i.icon-font.icon-bank
				div
					a(href="#") Accounting/Audit/Tax Services
					p 23 open jobs

	.section__block-empty
		p You did not add preferred industry yet. Add preferred industry to make look your profile more professional.
		.c-btn__wrapper.c-btn__wrapper--center
			a.c-btn.c-btn--green(href="#" data-toggle="modal" data-target="#modalProfilePreferred")
				span Add PREFERRED INDUSTRIES
