.profile__languages.section__block
	.profile__languages-header
		div
			p.profile__languages-title LANGUAGES
		div
			a.profile__languages-edit(href="#" data-toggle="modal" data-target="#modalProfileLanguages")
				i.icon-font.icon-edit
				span Edit
	.profile__languages-box-wrapper
		div
			.profile__languages-box
				p English
				span Fluent
		div
			.profile__languages-box
				p English
				span Fluent
		div
			.profile__languages-box
				p English
				span Fluent
		div
			.profile__languages-box
				p English
				span Fluent

	.section__block-empty
		p Add Languages to be found by more Employers.
		.c-btn__wrapper.c-btn__wrapper--center
			a.c-btn.c-btn--green(href="#" data-toggle="modal" data-target="#modalProfileLanguages")
				span Add LANGUAGES
