.profile__recommended
	.profile__recommended-head
		p RECOMMENDED JOBS

	.profile__recommended-body
		each val, idx in [1,2,3,4,5,6,7,8,9,10]
			a.profile__recommended-job(href="#")
				div
					.profile__recommended-job-img
						img(src="img/img-employers-kbz-bank.png" alt="")
				div
					p Digital Marketing Manager – Website & Content
					span TRE (Top Realty Enterprise Co., Ltd)
