.profile__skills.section__block
	.profile__skills-header
		div
			p.profile__skills-title Skills
		div
			a.profile__skills-edit(href="#" data-toggle="modal" data-target="#modalProfileSkills")
				i.icon-font.icon-edit
				span Edit

	ul.profile__skills-list
		li Content Writing
		li Adwords
		li Google Analytics
		li Social Media PPC Marketing
		li Data Analysis
		li Copy Writing

	.section__block-empty
		p Add Skills to be found by more Employers.
		.c-btn__wrapper.c-btn__wrapper--center
			a.c-btn.c-btn--green(href="#" data-toggle="modal" data-target="#modalProfileSkills")
				span Add Skills
