.profile__news
	.profile__news-title CAREER ADVICE AND NEWS
	.profile__news-link-wrapper
		each val, idx in [1,2,3]
			div
				a.profile__news-link(href="#")
					div
						.profile__news-link-img
							img(src="img/img-user.jpg" alt="")
					div
						span 01 September, 2020
						p “လက်ရှိအလုပ်ကနေ ဘာကြောင့်ထွက်ချင်တာလဲ” လို့အင်တာဗျူးမှာမေးလာခဲ့ရင်

	a.profile__news-link(href="#") View More News »
