.profile__about.section__block
	.profile__about-title
		div
			p About Htet Aung Kyaw
		div
			a(href="#" data-toggle="modal" data-target="#modalProfileAbout")
				i.icon-font.icon-edit
	.profile__about-box
		div
			p Digital Marketing Specialist with a proven track record in delivering growth for business website.Currently working at the JobNet.com.mm as Digital Marketing Manager ,managing the content marketing, Email marketing, Social Media Marketing, Google Adwords planning and monitor our digital activities through Google Analytic and identify best practices and improve overall digital performance.
		div
			p Be the best at what I do.
