.profile__experiences.section__block
	.profile__experiences-wrapper.profile__experiences-wrapper-1
		.profile__experiences-header
			div
				p.profile__experiences-title WORK EXPERIENCES
			div
				a.profile__experiences-edit(href="#" data-toggle="modal" data-target="#modalProfileExperiences")
					i.icon-font.icon-plus
					span Add

		.profile__experiences-box
			div
				.profile__experiences-box-icon
					i.icon-font.icon-bank
			div
				h2 Digital Marketing Manger
				h3 JobNet.com.mm
				p From: September, 2017 - Present
				span Full responsibility to prepare and execute the JobNet digital marketing strategy and execution (with support from the Marketing Director)Full responsibility of paid digital advertising, including but not limited to:Social Media advertisingSearch Engine advertisingEmail/ Database Marketing advertisin...
			div
				a(href="#" data-toggle="modal" data-target="#modalProfileExperiences")
					i.icon-font.icon-edit
					span Edit

		.profile__experiences-box
			div
				.profile__experiences-box-icon
					i.icon-font.icon-bank
			div
				h2 Digital Marketing Executive
				h3 JobNet
				p From: December, 2016 - August, 2017
				span Content WritingFacebook Campaigns Analyse and report
			div
				a(href="#" data-toggle="modal" data-target="#modalProfileExperiences")
					i.icon-font.icon-edit
					span Edit

	.profile__experiences-wrapper.profile__experiences-wrapper-2
		.profile__experiences-header
			div
				p.profile__experiences-title EDUCATION
			div
				a.profile__experiences-edit(href="#" data-toggle="modal" data-target="#modalProfileEducation")
					i.icon-font.icon-plus
					span Add

		.profile__experiences-box
			div
				.profile__experiences-box-icon
					i.icon-font.icon-bank
			div
				h2 Digital Marketing Executive
				h3 JobNet
				p From: December, 2016 - August, 2017
			div
				a(href="#" data-toggle="modal" data-target="#modalProfileEducation")
					i.icon-font.icon-edit
					span Edit
		.profile__experiences-box
			div
				.profile__experiences-box-icon
					i.icon-font.icon-bank
			div
				h2 Digital Marketing Executive
				h3 JobNet
				p From: December, 2016 - August, 2017
			div
				a(href="#" data-toggle="modal" data-target="#modalProfileEducation")
					i.icon-font.icon-edit
					span Edit
		.profile__experiences-box
			div
				.profile__experiences-box-icon
					i.icon-font.icon-bank
			div
				h2 Digital Marketing Executive
				h3 JobNet
				p From: December, 2016 - August, 2017
			div
				a(href="#" data-toggle="modal" data-target="#modalProfileEducation")
					i.icon-font.icon-edit
					span Edit

