.profile__strength.section__block
	p.profile__strength-title PROFILE STRENGTH

	.profile__strength-progress
		p.is-active
		p.is-active
		p.is-active
		p.is-active
		.profile__strength-progress-ind(style='left: 98%;')
			i.icon-font.icon-cogwheel
			div 98%

	.profile__strength-box
		div
			img(src="img/img-profile-strength-cup.png" alt="")
		div
			p WHY UPDATE MY PROFILE
			span Upgrade your Premium profile with your most recent Work Experiences and Education, so Employers can find you and send you amazing job offers!
