// FOOTER :: START

footer#footer.footer

	.c-grid

		.footer__wrapper.footer__wrapper-1

			.footer__wrapper-left

				.logo.logo--footer
					a.logo__btn(href="#")
						img.logo__img(src="img/logo--white.png" srcset='img/logo--white@2x.png 2x' alt="")

				ul.social
					li.social__item
						a.social__link(href="#")
							i.icon-font.icon-facebook
					li.social__item
						a.social__link(href="#")
							i.icon-font.icon-google
					li.social__item
						a.social__link(href="#")
							i.icon-font.icon-linkedin

			.footer__wrapper-right
				div
					p.footer__title JobNet
					nav.footer__nav
						a.footer__nav-link(href="#") About Us
						a.footer__nav-link(href="#") News
						a.footer__nav-link(href="#") Careers @ JobNet
				div
					p.footer__title Employers
					nav.footer__nav
						a.footer__nav-link(href="#") Free Employer
						a.footer__nav-link(href="#") Advertise with Us
				div
					p.footer__title job seekers
					nav.footer__nav
						a.footer__nav-link(href="#") Free Job Seeker Account
						a.footer__nav-link(href="#") Upload CV
						a.footer__nav-link(href="#") Browse Jobs
				div
					p.footer__title partners
					nav.footer__nav
						a.footer__nav-link(href="#") Myanmar Real Estate & Property

		.footer__wrapper.footer__wrapper-2

			.footer__wrapper-left

				.copyright
					p.copyright__text Copyright © 2019 JobNet.com.mm

				.copyright.copyright--link
					p.copyright__text!= "<a href='#'>Privacy Policy</a> | <a href='#'>Terms & Conditions</a>"

			.footer__wrapper-right

				.browse
					div
						p.browse__title Browse by:
					div
						a.browse__link(href="#") Jobs
						a.browse__link(href="#") Location

// FOOTER :: END
