// FOOTER :: START

footer#footer.footer.footer--employers

	.footer__wrapper
		.footer__wrapper-left

			.copyright
				p.copyright__text Copyright © 2020 JobNet.com.mm

		.footer__wrapper-right

			.copyright.copyright--link
				p.copyright__text!= "<a href='#'>Terms of Use</a><a href='#'>Privacy & Cookies</a>"

// FOOTER :: END
