// FOOTER :: START

footer#footer.footer-inner

	ul
		li
			.copyright
				p.copyright__text Copyright © 2018 JobNet.com.mm
		li
			a.footer-inner__link(href="#") Privacy Policy
		li
			a.footer-inner__link(href="#") Terms & Conditions

// FOOTER :: END
