// HEADER :: START

header#header.header.header--employers
	.c-grid
		.header__wrapper
			.header__wrapper-left

				.logo.logo--header.logo--employers
					a.logo__btn(href="/")
						img.logo__img(src="img/logo-slice.png" alt="")
						span for
						span Employers

			.header__wrapper-right

				.c-btn__wrapper
					a.c-btn.c-btn--white(href="#")
						span Jobseeker's Site
					a.c-btn.c-btn--borderWhite(href="#")
						span Back

// HEADER :: END
