// HEADER :: START

header#header.header.header--employers
	.c-grid-fluid
		.header__wrapper
			.header__wrapper-left

				.logo.logo--header.logo--employers
					a.logo__btn(href="/")
						img.logo__img(src="img/logo--white.png" srcset="img/logo--white@2x.png 2x" alt="")
						span for
						span Companies

			.header__wrapper-right

				.c-btn__wrapper
					a.c-btn.c-btn--white(href="#")
						span Login
					a.c-btn.c-btn--borderWhite(href="#")
						span Register
					a.c-btn.c-btn--purple(href="#")
						span Jobseeker's Site

// HEADER :: END
