// HEADER :: START

header#header.header
	.c-grid-fluid
		.header__wrapper
			.header__wrapper-left
				div

					.logo.logo--header
						a.logo__btn(href="/")
							img.logo__img(src="img/logo.png" srcset='img/logo@2x.png 2x' alt="")

					+hamburger()

				div

					form.header__form(action='' method='' autocomplete='off')
						label
							input(type='text' name='' required)
							button(type='submit')
								i.icon-font.icon-search

			.header__wrapper-mobile(mobile-block-js)
				.header__wrapper-mobile-header
					a.header__wrapper-mobile-close(href="#" mobile-close-js)
						i.icon-font.icon-close
				.header__wrapper-mobile-left

					.header__link-wrapper
						a.header__link(href="#") Management Jobs
						a.header__link(href="#") Companies
						a.header__link(href="#") Jobs by Category
						a.header__link(href="#") News

				.header__wrapper-mobile-right
					.header__icon-wrapper
						a.header__lang(href="#")
							img(src="img/myanmar.svg" alt="")

						.header__link-wrapper
							a.header__link(href="#") Register
							a.header__link(href="#") Login

					.c-btn__wrapper
						a.c-btn.c-btn--purple(href="#")
							span!= "Companies<br><small>Post Jobs and Find Talent</small>"

// HEADER :: END
