// SECTION :: START

section#menu.menu

	.menu__wrapper

		a.menu__close(href="#" menu-close-js)
			i.icon-font.icon-close

		.menu__wrapper-head
			div
				.menu__wrapper-head-img
					img(src="img/img-user.jpg" alt="")
			div
				p Htet Aung Kyaw
				a(href="#") View My Profile

		.menu__wrapper-progress
			.profile__strength-progress
				p.is-active
				p.is-active
				p.is-active
				p.is-active
				.profile__strength-progress-ind(style='left: 98%;')
					span 98%

		.menu__wrapper-body

			ul.menu__nav
				li.menu__nav-item
					a.menu__nav-link(href="#")
						div
							i.icon-font.icon-cogwheel
						div
							p Home
				li.menu__nav-item
					a.menu__nav-link(href="#")
						div
							i.icon-font.icon-cogwheel
						div
							p Dashboard
				li.menu__nav-item
					a.menu__nav-link.is-hover(href="#")
						div
							i.icon-font.icon-cogwheel
						div
							p My Digital CV ID
				li.menu__nav-item
					a.menu__nav-link(href="#")
						div
							i.icon-font.icon-cogwheel
						div
							p Job Alerts
				li.menu__nav-item
					a.menu__nav-link(href="#")
						div
							i.icon-font.icon-cogwheel
						div
							p Recommended Jobs
				li.menu__nav-item
					a.menu__nav-link(href="#")
						div
							i.icon-font.icon-cogwheel
						div
							p My Applications Status
				li.menu__nav-item
					a.menu__nav-link(href="#")
						div
							i.icon-font.icon-cogwheel
						div
							p Who Viewed Your Profile
				li.menu__nav-item.menu__nav-item--border
					a.menu__nav-link(href="#")
						div
							i.icon-font.icon-cogwheel
						div
							p Career News
				li.menu__nav-item.menu__nav-item--border
					a.menu__nav-link(href="#")
						div
							i.icon-font.icon-cogwheel
						div
							p Change Password
				li.menu__nav-item.menu__nav-item--border
					a.menu__nav-link(href="#")
						div
							img(src="img/myanmar.svg" alt="")
						div
							p Myanmar
				li.menu__nav-item
					a.menu__nav-link(href="#")
						div
							i.icon-font.icon-cogwheel
						div
							p Log Out

// SECTION :: END
