// SECTION :: START

#homeAutoStart.modal.fade(tabindex='-1', role='dialog', aria-labelledby='homeAutoStartLabel', aria-hidden='true')
	input(type='hidden', data-toggle='modal', data-target='#homeAutoStart' home-modalAuto-js)
	.modal-dialog.modal-dialog-centered
		.modal-content
			button.close(type='button', data-dismiss='modal', aria-label='Close')
				span ×

			.modal-body
				.modal-body-top

					.modal__logo-wrapper
						div
							img.modal__logo(src="img/img-employers-ooredoo.png" alt="")
						div
							img.modal__logo(src="img/img-employers-kbz-bank.png" alt="")
						div
							img.modal__logo(src="img/img-employers-cdsg.png" alt="")
						div
							img.modal__logo(src="img/img-employers-prudential.png" alt="")
						div
							img.modal__logo(src="img/img-employers-jotun-myanmar.jpg" alt="")
						div
							img.modal__logo(src="img/img-employers-unilever.png" alt="")
						div
							img.modal__logo(src="img/img-employers-ooredoo.png" alt="")
						div
							img.modal__logo(src="img/img-employers-kbz-bank.png" alt="")
						div
							img.modal__logo(src="img/img-employers-cdsg.png" alt="")
						div
							img.modal__logo(src="img/img-employers-ooredoo.png" alt="")

				.modal-body-bottom
					a.modal__banner(href="#")
						img.modal__banner-img.modal__banner-img--desktop(src="img/img-home-page-popup.jpg" alt="")
						img.modal__banner-img.modal__banner-img--mobile(src="img/img-home-page-popup--mobile.jpg" alt="")



// SECTION :: END
