// SECTION :: START

#modalProfileUpdate.modal-profile-update.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalProfileUpdate', aria-hidden='true')
	.modal-dialog(role='document')
		.modal-content
			.modal-body

				a.dropdown-item(href='#' data-toggle="modal" data-target="#modalProfileMain")
					div
						i.icon-font.icon-cogwheel
					div
						p Personal Details
					div
						i.icon-font.icon-plus-sign
				a.dropdown-item(href='#' data-toggle="modal" data-target="#modalProfileAbout")
					div
						i.icon-font.icon-cogwheel
					div
						p About Me
					div
						i.icon-font.icon-plus-sign
				a.dropdown-item(href='#' data-toggle="modal" data-target="#modalProfileExperiences")
					div
						i.icon-font.icon-cogwheel
					div
						p Work Experience
						span 2 work experiences on your profile
					div
						i.icon-font.icon-plus-sign
				a.dropdown-item(href='#' data-toggle="modal" data-target="#modalProfileEducation")
					div
						i.icon-font.icon-cogwheel
					div
						p Education
						span 3 educations on your profile
					div
						i.icon-font.icon-plus-sign
				a.dropdown-item(href='#' data-toggle="modal" data-target="#modalProfileSkills")
					div
						i.icon-font.icon-cogwheel
					div
						p Skills
						span 6 skills on your profile
					div
						i.icon-font.icon-plus-sign
				a.dropdown-item(href='#' data-toggle="modal" data-target="#modalProfileLanguages")
					div
						i.icon-font.icon-cogwheel
					div
						p Languages
						span 1 language on your profile
					div
						i.icon-font.icon-plus-sign
				a.dropdown-item(href='#' data-toggle="modal" data-target="#modalProfileReferences")
					div
						i.icon-font.icon-cogwheel
					div
						p Reference
						span 0 reference on your profile
					div
						i.icon-font.icon-plus-sign
				a.dropdown-item(href='#' data-toggle="modal" data-target="#modalProfilePreferred")
					div
						i.icon-font.icon-cogwheel
					div
						p Industries
						span 1 industry on your profile
					div
						i.icon-font.icon-plus-sign



// SECTION :: END
