// SECTION :: START

#modalProfileQr.modal-profile-qr.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalProfileQr', aria-hidden='true')
	.modal-dialog(role='document')
		.modal-content
			.modal-header
				div
					h5.modal-title JobNet Digital ID
				div
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						i.icon-font.icon-close

			.modal-body
				.modal-body-user
					img(src="img/img-user.jpg" alt="")
				.modal-body-content
					p Htet Aung Kyaw
					span Digital Marketing Manager
					img.modal-body-image(src="img/img-qr-code.png" alt="")

				a.modal-body-save(href="#")
					i.icon-font.icon-download
					span Save to photos


// SECTION :: END
