// SECTION :: START

#modalChangePass.modal-manage-account.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalChangePass', aria-hidden='true')
	.modal-dialog.modal-dialog-centered(role='document')
		.modal-content
			.modal-header
				div
					h5.modal-title CHANGE PASSWORD
				div
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						i.icon-font.icon-close

			.modal-body
				p.modal-subtitle Please update your password details below

				form(action='' method='' autocomplete='off')
					div
						input(type='password' name='' placeholder='Old Password')
					div
						input(type='password' name='' placeholder='New Password')
					div
						input(type='password' name='' placeholder='Confirm Password')

				.c-btn__wrapper
					a.c-btn.c-btn--gray(href="#")
						span Cancel
					a.c-btn.c-btn--green(href="#")
						span Save

// SECTION :: END
