---
title: JobNet | Blog

pageClassName: p-blog
---
extends shared/_layout

block content
	div.body.body--start(class!= pageClassName)

		include components/blog/_search
		include components/blog/_main
		include components/blog/_navigation
		include components/blog/_blog

		#overlay.overlay
