---
title: JobNet | Career

pageClassName: p-career
---
extends shared/_layout

block content
	div.body.body--start(class!= pageClassName)

		include components/career/_main
		include components/career/_media
		include components/career/_jobs
		include components/career/_details
		include components/career/_reviews
		include components/career/_video
		include components/career/_description
		include components/career/_search
