---
title: JobNet | Companies

pageClassName: p-companies
---
extends shared/_layout

block content
	div.body.body--start(class!= pageClassName)

		include components/companies/_companies

		#overlay.overlay
