---
title: JobNet | Employers

pageClassName: p-employers pt0
---
extends shared/_layout

block header
	include components/_header--employers
block footer
	include components/_footer--employers
block content
	div.body.body--start(class!= pageClassName)

		include components/employers/_main
		include components/employers/_benefits
		include components/employers/_trusted
		include components/employers/_build
		include components/employers/_video
		include components/employers/_build--1
		include components/employers/_build--2
		include components/employers/_get

		#overlay.overlay
