---
title: JobNet

pageClassName: p-home
---
extends shared/_layout

block content
	div.body.body--start(class!= pageClassName)

		//include components/homepage/_main
		//include components/homepage/_employers
		//include components/homepage/_details
		//include components/homepage/_category
		//include components/homepage/_looking
		include components/homepage/_banner
		include components/homepage/_description
		include components/homepage/_popular
