// SECTION :: START

section#terms.terms

	.terms__wrapper

		h3 Terms and Conditions ("Agreement") of JobNet.com.mm
		p
			| Please read these Terms and Conditions ("Agreement", "Terms and Conditions") carefully before using www.JobNet.com.mm ("the Site") operated by MMOne Online Company Limited and/or related companies (“The Company”, "us", "we", or "our"). This Agreement sets forth the legally binding terms and conditions for your use of the Site www.JobNet.com.mm. By accessing or using the Site in any manner, including, but not limited to, visiting or browsing the Site or contributing content or other materials to the Site, you agree to be bound by these Terms and Conditions. Capitalized terms are defined in this Agreement.
		h5 Intellectual Property
		p
			| The Site and its original content, features and functionality are owned by the Company and are protected by international copyright, trademark, patent, trade secret and other intellectual property or proprietary rights laws. The Company reserves the right to re-use or transfer all the data stored on this website to our related companies for research, marketing or promotional purposes or to the relevant authorities.
			br
			br
			|  If you have made your information publicly available to promote yourself,
			|   including your Job Seeker profile or Employer Profile, then any persons may have access to it at any time.
			|   We recommend you do not put any confidential of identifying information in your CV or profile
			|   (eg. NRIC number, full address, company number, etc.)
			|   if you want to prevent potential fraud or sensitive data leakage.
		h5 Terms of Usage
		p
			| This website is supported by our customers and sponsors. The terms of usage is limited to the number of purchased or
			| provided ads (credits) per user provided by us, unless approved in writing by us.
			| Credits purchased expire within 12 months of purchase date and are non-refundable.
			| ATS, CRM, Imported CVs and CV application storage is limited to the customer’s product purchase
			| (not exceeding 50,000 CVs – for parsed, searchable or document formats); thereafter for increased product or
			| CV storage - the customer must adhere to the company’s upgrade product pricing policies.
			| Prices for the Site services may vary from time to time where you will be given reasonable notification where appropriate.
		h5 Terms of Buying and Payments
		p
			| If you are buying our online services, you promise to us that you have carefully considered the suitability of your choice, and you have chosen appropriately. You cannot cancel a completed purchase, and fees are non-refundable, and quantities purchased cannot be decreased during the subscription term. Your relevant details will be used to facilitate the transaction, eg. for invoicing and support services. We have the right to enforce against you the terms of the license or services that you have acquired.
			br
			br
			|  Given the nature of digital content, we do not offer a refund or credit on a purchase made by you, including if you have changed your mind, bought an item by mistake, do not have sufficient expertise to use the item, ask for good will.
			br
			br
			|  If you provide credit card information to us, you authorize us to charge such credit card for all purchased services. Such charges shall be made in advance, either annually or in accordance with any different billing frequency stated. You are responsible for providing complete and accurate billing and contact information to us and notifying us of any changes to such information.
			br
			br
			|  If any amount is owed by you under this agreement or your credit card or direct debit is declined, we reserve the right to suspend or cancel your subscription immediately, until such fees are paid.
		h5 Inappropriate Use
		p
			| Any inappropriate use of the website, including defamatory, immoral, discriminatory or unethical behavior will result immediate termination of the data and user’s registration. All profiles, jobs or data of any kind must be truthful and honest, and you must be a legally verifiable Myanmar company and all jobs must be real and for your own company only. All instances of inappropriate use will be reported to the Myanmar and International authorities for immediate prosecution and compensation.
		h5 Termination
		p
			| We may terminate your access to the Site after providing reasonable notification, without cause or notice, which may result in the forfeiture and destruction of all information associated with you. All provisions of this Agreement that by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity, and limitations of liability.
		h5 Links To Other Sites
		p
			| Our Site may contain links to third-party sites that are not owned or controlled by the Company. The Company has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party sites or services. We strongly advise you to read the terms and conditions and privacy policy of any third-party site that you visit.
		h5 Governing Law
		p
			| This Agreement (and any further rules, polices, or guidelines incorporated by reference) shall be governed and construed in accordance with the laws of Myanmar, without giving effect to any principles of conflicts of law.
		h5 Changes To This Agreement
		p
			| We reserve the right, at our sole discretion, to modify or replace these Terms and Conditions by posting the updated terms on the Site. Your continued use of the Site after any such changes constitutes your acceptance of the new Terms and Conditions. Please review this Agreement periodically for changes. If you do not agree to any of this Agreement or any changes to this Agreement, do not use, access or continue to access the Site or discontinue any use of the Site immediately.


// SECTION :: END
