// SECTION :: START

&__job {
	display: flex;
	flex-direction: column;
	min-height: 280px;
	padding: 20px;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(234, 234, 234);
	border-radius: 8px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.14);
	@include transition(transform, box-shadow);
	@include adaptive(1535) {
		padding: 15px;
	}

	&:hover {
		transform: translateY(-5px);
		box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.05);
		@include transition(transform, box-shadow);
	}

	&--hot {
		border-color: rgb(252, 205, 205);
		background-color: rgb(254, 232, 232);
	}

	&-wrapper {
		display: flex;
		flex-direction: column;

		> div {
			padding-bottom: 15px;
		}
	}

	&-head {
		display: flex;
		justify-content: space-between;

		> div {
			&:nth-of-type(1) {
				flex: 1;
				min-width: 1px;
				max-width: 100%;
				padding-right: 30px;
			}
			&:nth-of-type(2) {
				width: 100px;
				@include adaptive(767) {
					width: 75px;
				}
			}
		}
	}

	&-body {
		padding-top: 15px;
	}

	&-footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 20px;
		padding-top: 20px;
		border-top: 1px solid rgb(234, 234, 234);
		@include adaptive(1023) {
			margin-top: 15px;
			padding-top: 15px;
		}

		> div {
			&:nth-of-type(1),
			&:nth-of-type(2) {
				@include adaptive(1023) {
					display: none;
				}
			}

			&:nth-of-type(2) {
				padding-left: 15px;
				padding-right: 15px;
			}
			&:nth-of-type(4) {
				display: none;
				@include adaptive(1023) {
					display: block;
				}
			}
		}

		.c-btn {
			box-shadow: none;
		}
	}

	&-heading {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&-additional {
		display: flex;
		align-items: center;
		@include adaptive(767) {
			flex-direction: column;
			align-items: flex-start;

			> a {
				padding-bottom: 10px;
			}
		}
	}

	&-title {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		color: #222222;
		font-size: 30px;
		font-weight: 700;
		@include adaptive(1535) {
			font-size: 26px;
		}
		@include adaptive(767) {
			font-size: 22px;
		}
	}

	&-subtitle {
		padding-bottom: 15px;
		color: #6e6e6e;
		font-size: 20px;
		@include adaptive(1535) {
			font-size: 18px;
		}
		@include adaptive(767) {
			font-size: 16px;
		}
	}

	&-logo {
		overflow: hidden;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100px;
		height: 100px;
		border-radius: 6px;
		background-color: rgb(255, 255, 255);
		@include adaptive(767) {
			width: 75px;
			height: 75px;
		}

		&--wi {
			flex-direction: column;
			background-color: rgb(245, 243, 243);
		}

		img {
			display: block;
			max-width: 100%;
			height: auto;
		}

		.icon-font {
			color: #bdbdbd;
			font-size: 40px;
			@include adaptive(767) {
				font-size: 26px;
			}
		}

		p {
			padding-top: 10px;
			color: #bdbdbd;
			font-size: 11px;
			font-weight: 700;
			text-transform: uppercase;
			@include adaptive(767) {
				font-size: 9px;
			}
		}
	}

	&-sign {
		display: flex;
		align-items: center;
		margin-right: 30px;
		color: #2c567e;
		font-size: 16px;

		&:hover {
			color: #2c567e;
		}
	}

	&-location {
		display: flex;
		align-items: center;
		font-size: 16px;

		.icon-font {
			margin-right: 5px;
			color: #2c567e;
		}

		span {
			color: #6e6e6e;
		}
	}

	&-list {
		display: flex;
		flex-direction: column;
		padding-left: 15px;
		padding-bottom: 15px;

		li {
			list-style-type: disc;

			&:not(:last-of-type) {
				padding-bottom: 5px;
			}
		}

		p {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			color: #222222;
			font-size: 16px;

			strong {
				font-weight: 600;
			}
		}
	}

	&-desc {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		color: #6e6e6e;
		font-size: 16px;
	}

	&-category {
		display: flex;
		align-items: center;
		font-size: 16px;

		.icon-font {
			margin-right: 5px;
			color: #2c567e;
		}

		span {
			color: #6e6e6e;
		}
	}

	&-posted {
		display: flex;
		align-items: center;
		font-size: 14px;

		.icon-font {
			margin-right: 5px;
			color: #2c567e;
		}

		span {
			display: flex;
			align-items: center;
			color: #6e6e6e;
		}
	}
}

// SECTION :: END
