// SECTION :: START

.search {
	&__wrapper {
		&-2 {
			display: flex;
		}

		&-left {
			width: 100%;
			max-width: 170px;
			padding-right: 10px;
			@include adaptive(1023) {
				max-width: 0;
				padding: 0;
			}
		}

		&-right {
			flex: 1;
			min-width: 1px;
			max-width: 100%;
		}
	}

	@import "search--form";
	@import "search--alert";
	@import "search--header";
	@import "search--filter";
	@import "search--job";
	@import "search--action";
}

// SECTION :: END
