// SECTION :: START

&__action {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 15px;

	&-wrapper {
		display: flex;
		align-items: center;
		width: 100%;
		@include adaptive(767) {
			flex-direction: column;
		}

		&-left {
			display: flex;
			@include adaptive(767) {
				width: 100%;
				justify-content: space-between;
				padding-bottom: 15px;
			}

			> div {
				display: flex;
			}
		}

		&-middle {
			position: relative;
			display: flex;
			align-items: center;
			flex: 1;
			min-width: 1px;
			max-width: 100%;
			padding-left: 15px;
			padding-right: 15px;
			@include adaptive(767) {
				display: none;
			}
		}

		&-right {
			@include adaptive(767) {
				width: 100%;
			}
		}
	}

	&-left {
		.search__action-btn {
			&:first-of-type {
				margin-right: 15px;
				@include adaptive(767) {
					margin-right: 0;
				}
			}

			.icon-font {
				transform: rotate(90deg);
			}
		}
	}

	&-middle {
		padding-left: 10px;
		padding-right: 10px;
		@include adaptive(767) {
			padding-left: 5px;
			padding-right: 5px;
		}

		.search__action-btn {
			margin-left: 5px;
			margin-right: 5px;
		}
	}

	&-right {
		.search__action-btn {
			&:first-of-type {
				margin-left: 15px;
				@include adaptive(767) {
					margin-left: 0;
				}
			}

			.icon-font {
				transform: rotate(-90deg);
			}
		}
	}

	&-line {
		width: 100%;
		height: 1px;
		background-color: rgb(234, 234, 234);
	}

	&-btn {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 36px;
		height: 36px;
		border-style: solid;
		border-width: 1px;
		border-color: rgb(234, 234, 234);
		border-radius: 6px;
		background-color: rgb(255, 255, 255);
		color: #222222;
		font-size: 14px;
		font-weight: 500;
		@include adaptive(767) {
			width: 30px;
			height: 30px;
			font-size: 12px;
		}

		&:hover {
			background-color: #663399;
			color: #ffffff;
			@include transition(background-color, color);
		}

		&.active {
			background-color: #663399;
			color: #ffffff;
			@include transition(background-color, color);
		}

		.icon-font {
			font-size: 5px;
		}
	}

	.breadcrumb {
		margin-bottom: 0;
		background-color: transparent;
		@include adaptive(767) {
			padding-left: 0;
		}

		&-item {
			& + .breadcrumb-item {
				&:before {
					content: '>';
				}
			}

			a {
				font-size: 17px;
				color: #777777;
				@include transition(color);

				&:hover {
					color: #663399;
					@include transition(color);
				}
			}
		}
	}
}

// SECTION :: END
