// SECTION :: START

&__filter {
	overflow-y: auto;
	position: sticky;
	top: 110px;
	max-height: calc(100vh - 110px);
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(234, 234, 234);
	border-radius: 8px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.14);
	@include adaptive(1023) {
		z-index: 1500;
		opacity: 0;
		visibility: hidden;
		transform: translateX(-100%);
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		max-width: 300px;
		height: 100%;
		max-height: 100%;
		border: none;
		border-radius: 0;
		background-color: #ffffff;
		box-shadow: 0 2px 5px 0 rgba(#000, 0.15);

		&.is-animated {
			@include transition(opacity, visibility, transform);
		}

		&.is-show {
			opacity: 1;
			visibility: visible;
			transform: translateX(0);
			@include transition(opacity, visibility, transform);
		}
	}

	&-head {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 60px;

		a {
			display: none;
			@include adaptive(1023) {
				display: flex;
			}

			.icon-font {
				color: #663399;
				font-size: 20px;

				&:hover {
					color: #663399;
				}
			}
		}
	}

	&-action {
		min-height: 55px;
		@include adaptive(1023) {
			min-height: 60px;
			padding-top: 10px;
		}

		.c-btn {
			min-width: unset;
			height: 36px;
			padding-left: 15px;
			padding-right: 15px;
			box-shadow: none;

			span {
				font-size: 14px;
			}

			&__wrapper {
				width: 100%;
				justify-content: space-between;

				a {
					width: calc((100% - 10px) / 2);
				}
			}
		}
	}

	&-title {
		color: #222222;
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
		@include adaptive(1535) {
			font-size: 14px;
		}
	}

	&-link {
		display: flex;
		align-items: center;
		color: #c81a1a;
		font-size: 12px;

		&:hover {
			color: #c81a1a;
		}
	}

	&-content {
		border-bottom: 1px solid #eaeaea;

		&--mobile {
			display: none;
			@include adaptive(1023) {
				display: block;
			}
		}

		&:first-of-type {
			border-top: 1px solid #eaeaea;
		}

		&-btn {
			display: flex;
			align-items: center;
			height: 50px;

			&[aria-expanded='true'] {
				.icon-font {
					transform: rotate(0);
					@include transition(transform);
				}
			}

			> div {
				display: flex;
				align-items: center;
				height: 100%;

				&:nth-of-type(1) {
					flex: 1;
					min-width: 1px;
					max-width: 100%;
				}
				&:nth-of-type(2) {
					justify-content: flex-end;
					width: 30px;
				}
			}

			p {
				color: #222222;
				font-size: 14px;
				font-weight: 500;
				text-transform: uppercase;
			}

			.icon-font {
				font-size: 7px;
				color: #6d7886;
				transform: rotate(-90deg);
				transform-origin: center;
				backface-visibility: hidden;
				@include transition(transform);
			}
		}
	}

	&-more {
		display: flex;
		padding-bottom: 20px;
		padding-left: 20px;

		&[aria-expanded='true'] {
			&:after {
				content: attr(data-less);
			}
		}

		&:after {
			content: attr(data-more);
			font-size: 14px;
			color: #1155cc;
		}
	}

	.form-group {
		margin-bottom: 10px;

		&:last-of-type {
			margin-bottom: 20px;
		}

		.form-check {
			&-input {
				margin-top: 0.25rem;
			}
			&-label {
				color: #6e6e6e;
				font-size: 14px;
			}
		}

		.form {
			&-control {
				appearance: none;
				outline: none;
				background-color: #ffffff;
				font-size: 14px;

				&:focus {
					border-color: #ced4da;
					box-shadow: none;
				}
			}
		}
	}
}

// SECTION :: END
