// FOOTER :: START

.footer-inner {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 90px 23px 0;
	padding: 17px 0;
	border-top: 1px solid #dcdcdc;
	text-align: center;
	@include adaptive(1279) {
		margin: 20px 0 0;
	}

	&__link {
		display: flex;
		color: #15c;
		font-size: 12px;
	}

	ul {
		display: flex;
		align-items: center;
		justify-content: center;
		@include adaptive(767) {
			flex-direction: column;
		}

		li {
			padding: 0 17px;

			&:not(:last-of-type) {
				border-right: 1px solid #5d5d5d;
				@include adaptive(767) {
					border: none;
				}
			}
		}
	}
}

// FOOTER :: END
