// HEADER :: START

.header {
	z-index: 1100;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgb(254, 254, 254);
	box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);

	&.header--employers-sign {
		background-color: transparent;
		box-shadow: none;
		font-family: "Roboto", sans-serif;

		.c-grid {
			max-width: 1220px;
			padding-left: 1%;
			padding-right: 1%;
		}

		.header {
			&__wrapper {
				@include adaptive(767) {
					flex-wrap: wrap;
				}

				&-left,
				&-right {
					@include adaptive(767) {
						width: 100%;
					}
				}

				&-left {
					@include adaptive(767) {
						padding-top: 18px;
						padding-bottom: 18px;
					}
				}

				.c-btn {
					min-width: 137px;
					height: 39px;
					border-radius: 0;

					&:not(:last-of-type) {
						margin-right: 20px;
						@include adaptive(767) {
							margin-right: 5px;
						}
					}

					span {
						font-size: 13px;
					}

					&__wrapper {
						@include adaptive(767) {
							justify-content: center;
						}
					}
				}
			}
		}
	}
	&.header--employers {
		position: absolute;
		background-color: transparent;
		box-shadow: none;
		font-family: "Roboto", sans-serif;

		.c-grid-fluid {
			padding-left: 50px;
			padding-right: 40px;
			@include adaptive(1023) {
				padding-left: 0;
				padding-right: 0;
			}
		}

		.header {
			&__wrapper {
				@include adaptive(1023) {
					flex-wrap: wrap;
				}

				&-left {
					@include adaptive(1023) {
						width: 100%;
						height: 45px;
						padding-left: 15px;
						padding-right: 15px;
						background-color: #663398;
					}
				}

				&-right {
					@include adaptive(1023) {
						width: 100%;
						padding-top: 7px;
						padding-left: 20px;
						padding-right: 20px;
					}
					@include adaptive(767) {
						padding-left: 15px;
						padding-right: 15px;
					}
				}

				.c-btn {
					min-width: 137px;
					height: 39px;
					border-radius: 0;
					box-shadow: 2px 0 11px 0 silver;
					text-align: center;
					@include adaptive(1023) {
						width: 100%;
						max-width: calc((100% - 60px) / 3);
					}
					@include adaptive(767) {
						min-width: auto;
						max-width: calc((100% - 30px) / 3);
					}

					&.c-btn--white,
					&.c-btn--borderWhite {
						span {
							color: #642891;
						}
					}

					&:not(:last-of-type) {
						margin-right: 20px;
						@include adaptive(767) {
							margin-right: 5px;
						}
					}

					span {
						font-size: 13px;
					}

					&__wrapper {
						@include adaptive(1023) {
							justify-content: space-between;
						}
					}
				}
			}
		}
	}

	.is-hideScroll & {
		z-index: 1350;
	}

	.c-grid-fluid {
		padding-right: 0;
	}

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 70px;
		@include adaptive(1535) {
			height: 60px;
		}

		&-left {
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex: 1;
			min-width: 1px;
			max-width: 100%;
			height: 100%;

			> div {
				display: flex;
				align-items: center;
				height: 100%;

				&:nth-of-type(1) {
					padding-right: 30px;
					@include adaptive(1279) {
						padding-right: 15px;
					}
					@include adaptive(1023) {
						justify-content: space-between;
						width: 100%;
						padding-right: 10px;
					}
				}

				&:nth-of-type(2) {
					flex: 1;
					min-width: 1px;
					max-width: 100%;
					padding-right: 15px;
					@include adaptive(1279) {
						padding-right: 0;
					}
					@include adaptive(1023) {
						display: none;
					}
				}
			}
		}

		&-mobile {
			display: flex;
			align-items: center;
			@include adaptive(1023) {
				z-index: 1500;
				opacity: 0;
				visibility: hidden;
				transform: translateX(-100%);
				overflow-y: auto;
				position: fixed;
				top: 0;
				left: 0;
				display: block;
				width: 100%;
				max-width: 270px;
				height: 100%;
				padding: 0 15px 60px;
				background-color: #ffffff;
				box-shadow: 0 -2px 5px 0 rgba(#000, 0.15);

				&.is-animated {
					@include transition(opacity, visibility, transform);
				}

				&.is-open {
					opacity: 1;
					visibility: visible;
					transform: translateX(0);
					@include transition(opacity, visibility, transform);
				}
			}

			&-header {
				display: none;
				@include adaptive(1023) {
					display: flex;
					align-items: center;
					justify-content: flex-end;
					height: 60px;
				}
			}

			&-left,
			&-right {
				display: flex;
				align-items: center;
				height: 70px;
				@include adaptive(1535) {
					height: 60px;
				}
				@include adaptive(1023) {
					display: block;
					height: auto;
				}
			}

			&-left {
				padding-right: 15px;
				@include adaptive(1023) {
					padding-right: 0;
					padding-bottom: 30px;
				}
			}

			&-right {
				padding-left: 10px;
				border-left: 1px solid #eaeaea;
				@include adaptive(1023) {
					padding-left: 0;
					border-left: 0;
				}
			}

			&-close {
				color: #663399;
				font-size: 20px;

				&:hover {
					color: #663399;
				}
			}

			.c-btn {
				position: relative;
				display: flex;
				justify-content: center;
				height: 70px;
				padding-left: 30px;
				border-radius: 0;
				min-width: 160px;
				box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.14);
				@include adaptive(1535) {
					height: 60px;
					padding-left: 10px;
				}
				@include adaptive(1023) {
					width: 100%;
				}

				&__wrapper {
					z-index: 0;
					position: relative;
					@include adaptive(1023) {
						left: -25px;
						width: calc(100% + 50px);
					}

					&:after {
						content: '';
						position: absolute;
						top: 0;
						left: -50px;
						width: 60px;
						height: 100%;
						background-color: #663399;
						@include adaptive(1023) {
							display: none;
						}
					}
				}

				span {
					text-align: center;
					line-height: 1;

					small {
						font-size: 12px;
					}
				}
			}
		}

		.hamburger {
			display: none;
			@include adaptive(1023) {
				display: flex;
			}
		}
	}

	&__form {
		display: flex;
		width: 100%;
		height: 100%;
		padding-top: 15px;
		padding-bottom: 15px;
		@include adaptive(1535) {
			padding-top: 10px;
			padding-bottom: 10px;
		}
		@include adaptive(1279) {
			display: none;
		}

		&:hover,
		&.is-focus {
			label {
				border-color: #663399;
				box-shadow: 0 0 5px 0 rgba(#eaeaea, 0.3);
				@include transition(border-color, box-shadow);
			}

			button {
				.icon-font {
					color: #663399;
					@include transition(color);
				}
			}
		}

		label {
			overflow: hidden;
			position: relative;
			display: flex;
			width: 100%;
			margin: 0;
			border-radius: 6px;
			border: 1px solid transparent;
			@include transition(border-color);
		}

		input,
		button {
			outline: none;
			position: relative;
			border: none;
			border-radius: 0;
			background-color: #ffffff;
		}

		input {
			flex: 1;
			min-width: 1px;
			max-width: 100%;
			padding: 0 50px 0 15px;
			font-size: 14px;
			font-weight: 500;
			color: #222222;
			@include inputPlaceholder {
				font-size: 14px;
				font-weight: 500;
				color: #6e6e6e;
			}
			@include adaptive(1535) {
				font-size: 14px;
			}
		}

		button {
			position: absolute;
			top: 0;
			right: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 50px;
			height: 100%;

			.icon-font {
				color: #663399;
				font-size: 22px;
				@include transition(color);
				@include adaptive(1535) {
					font-size: 20px;
				}
			}
		}
	}

	&__lang {
		overflow: hidden;
		z-index: 2;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 24px;
		height: 24px;
		margin-left: 15px;
		margin-right: 10px;
		border-radius: 50%;
		@include adaptive(1023) {
			margin-left: 10px;
			margin-right: auto;
			margin-bottom: 15px;
		}

		img {
			display: block;
			max-width: 100%;
			height: auto;
		}
	}

	&__icon {
		z-index: 2;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 40px;
		height: 24px;
		margin-left: 15px;

		&-wrapper {
			z-index: 5;
			position: relative;
			display: flex;
			align-items: center;
			height: 100%;
			padding-right: 15px;
			@include adaptive(1023) {
				flex-direction: column;
				padding-right: 0;
				padding-bottom: 30px;
			}

			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: -10px;
				width: calc(100% + 10px);
				height: 100%;
				background-color: #ffffff;
				border-radius: 0 50px 50px 0;
				box-shadow: 3px 0 5px 0 rgba(0,0,0,.1);
				@include adaptive(1023) {
					display: none;
				}
			}
		}

		.icon-font {
			color: #663399;
			font-size: 22px;
		}
	}

	&__link {
		outline: none;
		overflow: hidden;
		position: relative;
		display: flex;
		align-items: center;
		height: 100%;
		margin-left: 5px;
		margin-right: 5px;
		padding-left: 10px;
		padding-right: 10px;
		color: #663399;
		font-size: 14px;
		font-weight: 500;
		@include adaptive(1535) {
			font-size: 14px;
		}
		@include adaptive(1023) {
			justify-content: flex-start;
			width: 100%;
			min-height: 45px;
			margin-left: auto;
			margin-right: auto;
			font-size: 15px;
		}

		&:hover {
			color: #663399;

			&:after {
				opacity: 1;
				visibility: visible;
				transform: translateY(0);
				@include transition(opacity, visibility, transform);
			}
		}

		&:after {
			content: '';
			opacity: 0;
			visibility: hidden;
			position: absolute;
			top: calc(100% - 2px);
			transform: translateY(100%);
			left: 0;
			width: 100%;
			height: 2px;
			background-color: #663399;
			@include transition(opacity, visibility, transform);
		}

		&-wrapper {
			z-index: 2;
			position: relative;
			display: flex;
			height: 70px;
			@include adaptive(1535) {
				height: 60px;
			}
			@include adaptive(1023) {
				flex-direction: column;
				width: 100%;
				height: auto;
			}
		}
	}
}

// HEADER :: END
