// HEADER :: START

.header-inner {
	z-index: 1100;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	border-bottom: 1px solid #dcdcdc;
	background-color: rgb(254, 254, 254);
	box-shadow: 0 3px 5px 1px rgba(0, 0, 0, .24);

	.c-grid-fluid {
		padding-left: 2.3vw;
		padding-right: 1.3vw;
		@include adaptive(1279) {
			padding-left: 10px;
			padding-right: 10px;
		}
	}

	&__wrapper {
		display: flex;
		height: 49px;
		padding-top: 7px;
		padding-bottom: 7px;

		&-left {
			display: flex;
			align-items: center;
			@include adaptive(1279) {
				width: 100%;
			}

			> div {
				&:nth-of-type(1) {
					@include adaptive(1279) {
						display: none;
					}
				}
				&:nth-of-type(2) {
					display: none;
					align-items: center;
					width: 100%;
					@include adaptive(1279) {
						display: flex;
					}

					> div {
						&:nth-of-type(1) {
							width: 32px;
						}
						&:nth-of-type(2) {
							flex: 1;
							min-width: 1px;
							max-width: 100%;
							padding-left: 10px;
							padding-right: 10px;
						}
						&:nth-of-type(3) {
							width: 32px;
						}
					}
				}
			}
		}

		&-mobile {
			display: flex;
			justify-content: flex-end;
			flex: 1;
			min-width: 1px;
			max-width: 100%;
			@include adaptive(1279) {
				display: none;
			}

			> div {
				display: flex;
				align-items: center;

				&:nth-of-type(1) {}
				&:nth-of-type(2) {
					padding: 0 1.45vw;
					border-right: 1px solid #f2f2f2;
					border-left: 1px solid #f2f2f2;
				}
				&:nth-of-type(3) {
					padding-left: 1.25vw;
				}
			}
		}
	}

	&__hamburger {
		position: relative;
		display: flex;
		width: 32px;
		height: 32px;
		border-radius: 50%;
		background-color: #ffffff;

		&-img {
			overflow: hidden;
			position: relative;
			width: 32px;
			height: 32px;
			border-radius: 50%;
			border: 1px solid #639;

			img {
				@extend %imageResCoverAbs;
			}
		}

		&-circle {
			position: absolute;
			right: -2px;
			bottom: -2px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 15px;
			height: 15px;
			padding: 3px 2px 2px;
			box-shadow: 0 0 1px 1px #639;
			border-radius: 50%;
			background-color: #ffffff;

			span {
				display: flex;
				width: 100%;
				height: 1px;
				background-color: #663399;

				&:not(:last-of-type) {
					margin-bottom: 2px;
				}
			}
		}
	}

	&__search {
		position: relative;
		display: flex;
		width: 100%;
		height: 32px;
		border: 1px solid silver;
		border-radius: 4px;
		background-color: #fff;

		.icon-font {
			position: absolute;
			top: 0;
			left: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 40px;
			height: 100%;
			color: gray;
		}

		input {
			outline: none;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			padding: 2px 10px 0 40px;
			border: none;
			box-shadow: none;
			border-radius: 0;
			background-color: transparent;
			font-size: 13px;
			line-height: 1;
		}
	}

	&__nav {
		display: flex;
		align-items: center;
		height: 100%;

		&-wrapper {
			position: relative;
			display: flex;
			align-items: center;
		}

		&-item {
			display: flex;
		}

		&-link {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0 1.05vw;
			font-size: 13px;
			line-height: 34px;
			color: #524f4f;

			&.is-active {
				color: #639;
			}

			img {
				margin-left: 2px;
				display: block;
				max-width: 18px;
				height: auto;
				max-height: 100%;
			}
		}

		&-line {
			position: absolute;
			top: calc(100% + 6px);
			left: 0;
			width: 0;
			height: 2px;
			background-color: #639;
			@include transition(left, width);
		}
	}

	&__lang {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 20px;
		height: 20px;

		img {
			display: block;
			max-width: 100%;
			height: auto;
			max-height: 100%;
		}
	}

	&__user {
		position: relative;

		&-ava {
			overflow: hidden;
			position: relative;
			display: flex;
			width: 28px;
			height: 28px;
			border-radius: 3px;

			img {
				@extend %imageResCoverAbs;
			}
		}

		&-dropdown {
			right: 0;
			min-width: 350px;
			padding: 0;
			margin: 0;
			border: none;
			border-radius: 5px;
			background-color: white;
			box-shadow: 0 3px 5px 1px rgba(0, 0, 0, .24);
			@include adaptive(1799) {
				transform: scale(0.8) translate3d(-382px, -2px, 0px) !important;
			}
		}

		&-head {
			white-space: nowrap;
			display: flex;
			align-items: center;
			padding: 20px;

			> div {
				&:nth-of-type(1) {
					padding-right: 20px;
				}
				&:nth-of-type(2) {
					p,
					a,
					span {
						line-height: 1;
						font-size: 15px;
					}

					p {
						padding-bottom: 10px;
						font-weight: 500;
					}

					a {
						display: flex;
						padding-bottom: 5px;
						color: #15c;
					}

					span {
						display: flex;
					}
				}
			}
		}

		&-img {
			overflow: hidden;
			position: relative;
			width: 75px;
			height: 75px;
			border-radius: 5px;

			img {
				@extend %imageResCoverAbs;
			}
		}

		&-body {
			display: flex;
			flex-direction: column;
		}

		&-dropdownInner {
			white-space: nowrap;
			top: 0;
			right: 100%;
			margin: 0;
			padding: 0;
			border: none;
			border-radius: 5px;
			background-color: white;
			box-shadow: 0 3px 5px 1px rgba(0, 0, 0, .24);

			.header__user-link {
				> div {
					&:nth-of-type(1) {
						padding-right: 0;
					}
				}
			}
		}

		&-link {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 49px;
			padding: 15px 50px;
			border-top: 1px solid #dcdcdc;
			color: #646464;
			font-size: 20px;
			@include transition(background-color);

			&:hover {
				background-color: rgba(220, 220, 220, .1);
				@include transition(background-color);
			}

			> div {
				&:nth-of-type(1) {
					padding-right: 20px;
				}
				&:nth-of-type(2) {
					flex: 1;
					min-width: 1px;
					max-width: 100%;
				}
			}

			&-dropdown {
				position: relative;

				&:hover {
					.header__user-dropdownInner {
						display: block;
					}
				}
			}

			.icon-font {
				color: #646464;
				font-size: 20px;
			}

			span {
				display: flex;
				font-size: 15px;
				line-height: 1;
				color: #999;
			}
		}
	}
}

// HEADER :: END
