// SECTION :: START

.banner {
	padding-top: 40px;
	padding-bottom: 30px;
	@include adaptive(1279) {
		padding-top: 20px;
	}
	@include adaptive(767) {
		padding-bottom: 10px;
	}

	&__wrapper {
		padding-bottom: 20px;

		&:last-of-type {
			padding-bottom: 0;
		}
	}

	&__img {
		display: block;
		max-width: 100%;
		height: auto;
		margin-left: auto;
		margin-right: auto;

		&--desktop {
			@include adaptive(767) {
				display: none;
			}
		}
		&--mobile {
			display: none;
			@include adaptive(767) {
				display: block;
			}
		}
	}

	a {
		display: flex;
		align-items: flex-start;
	}
}

// SECTION :: END
