// SECTION :: START

.category {
	padding-top: 30px;
	@include adaptive(767) {
		padding-bottom: 20px;
		border-bottom: 1px solid #dfdfdf;
	}

	&__title {
		padding-bottom: 15px;
	}

	&__box {
		display: flex;
		flex-direction: column;
		padding-left: 5px;
		padding-right: 5px;

		&:hover {
			.category__box {
				&-head {
					transform: translateY(-5px);
					border-color: #663399;
					box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
					@include transition(transform, border-color, box-shadow);
				}

				&-body {
					p {
						color: #663399;
						@include transition(color);
					}
				}
			}
		}

		&-wrapper {
			display: flex;
			align-items: center;
			justify-content: space-between;
			@include adaptive(1023) {
				flex-wrap: wrap;
			}
			@include adaptive(767) {
				justify-content: flex-start;
			}

			> div {
				width: 100%;
				max-width: calc(100% / 8);
				padding-top: 20px;
				@include adaptive(1023) {
					max-width: calc(100% / 4);
				}
				@include adaptive(767) {
					max-width: calc(100% / 3);
				}
			}
		}

		&-head {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 90px;
			height: 90px;
			margin-left: auto;
			margin-right: auto;
			border-style: solid;
			border-width: 1px;
			border-color: rgb(234, 234, 234);
			border-radius: 50%;
			background-color: rgb(255, 255, 255);
			box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
			@include transition(transform, border-color, box-shadow);
			@include adaptive(1535) {
				width: 80px;
				height: 80px;
			}

			.icon-font {
				color: #663399;
				font-size: 30px;
				@include adaptive(1535) {
					font-size: 28px;
				}
			}
		}

		&-body {
			padding-top: 15px;
			text-align: center;

			p {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				font-size: 14px;
				color: #777777;
				@include transition(color);
			}
		}
	}
}

// SECTION :: END
