// SECTION :: START

.description {
	padding-top: 30px;
	padding-bottom: 30px;
	@include adaptive(1535) {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	&__title {
		padding-bottom: 30px;
		@include adaptive(1535) {
			padding-bottom: 20px;
		}
	}

	&__desc {
		padding-bottom: 20px;
		color: #6e6e6e;
		font-size: 16px;
		@include adaptive(1279) {
			font-size: 14px;
		}

		a {
			color: #663399;
			font-weight: bold;
		}
	}

	&__more {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		margin-bottom: 20px;
		@include adaptive(1023) {
			margin-bottom: 0;
		}

		&:hover {
			&:after {
				background-color: #663399;
				@include transition(background-color);
			}

			a {
				color: #663399;
				@include transition(color);
			}
		}

		&:after {
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			width: 100%;
			height: 1px;
			background-color: #dcdcdc;
			@include transition(background-color);
		}

		a {
			z-index: 2;
			position: relative;
			display: flex;
			min-width: 100px;
			padding-left: 15px;
			background-color: #ffffff;
			color: #6e6e6e;
			font-weight: bold;
			font-size: 13px;
			text-transform: uppercase;
			@include transition(color);

			&:after {
				content: attr(data-more);
			}
		}
	}

	.collapse {
		&.show {
			& + .description__more {
				a {
					&:after {
						content: attr(data-less);
					}
				}
			}
		}
	}
}

// SECTION :: END
