// SECTION :: START

.details {
	padding-top: 30px;
	padding-bottom: 30px;
	@include adaptive(1535) {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	&__container {
		overflow: hidden;
		border-radius: 10px;
		box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
	}

	&__header {
		display: flex;
		height: 45px;
		border-radius: 10px 10px 0 0;
		background-color: rgb(255, 255, 255);
		border-top: 1px solid rgb(234, 234, 234);
		border-left: 1px solid rgb(234, 234, 234);
		border-right: 1px solid rgb(234, 234, 234);
		@include adaptive(1023) {
			display: none;
		}

		> div {
			display: flex;
			align-items: center;
			justify-content: center;

			p {
				padding-left: 5px;
				padding-right: 5px;
				font-size: 14px;
				font-weight: 500;
				text-transform: uppercase;
				@include adaptive(1535) {
					font-size: 14px;
				}
			}

			.icon-font {
				margin-left: 2px;
				margin-right: 2px;
				color: #663399;
				@include adaptive(1535) {
					font-size: 12px;
				}
			}
		}

		&-left {
			width: 125px;
			border-right: 1px solid rgb(234, 234, 234);
		}

		&-middle {
			width: 100%;
			max-width: calc((100% - (125px + 250px)));
		}

		&-right {
			width: 250px;
			border-left: 1px solid rgb(234, 234, 234);
		}
	}

	&__wrapper {
		display: flex;
		max-height: 650px;
		border-style: solid;
		border-width: 1px;
		border-color: rgb(234, 234, 234);
		border-radius: 0 0 10px 10px;
		background-color: rgb(255, 255, 255);
		@include adaptive(1535) {
			max-height: 580px;
		}
		@include adaptive(1023) {
			overflow: hidden;
			flex-wrap: wrap;
			max-height: unset;
			border-radius: 10px;
		}

		&-header {
			display: none;
			align-items: center;
			justify-content: center;
			height: 45px;
			border-bottom: 1px solid #eaeaea;
			@include adaptive(1023) {
				display: flex;
			}

			p {
				padding-left: 5px;
				padding-right: 5px;
				font-size: 15px;
				font-weight: 500;
				text-transform: uppercase;
				@include adaptive(1535) {
					font-size: 14px;
				}
			}

			.icon-font {
				margin-left: 2px;
				margin-right: 2px;
				color: #663399;
				@include adaptive(1535) {
					font-size: 12px;
				}
			}
		}

		&-left {
			width: 125px;
			min-height: 100%;
			max-height: 100%;
			border-right: 1px solid rgb(234, 234, 234);
			@include adaptive(1023) {
				order: 3;
				width: 100%;
				border-right: none;
				border-top: 1px solid rgb(234, 234, 234);
				border-bottom: 1px solid rgb(234, 234, 234);
			}

			.details__wrapper-scroll {
				height: 100%;
				max-height: 100%;
				@include adaptive(1023) {
					height: auto;
					max-height: unset;
				}

				> div {
					padding: 20px;
					@include adaptive(1535) {
						padding: 15px;
					}
					@include adaptive(1023) {
						width: 100%;
						max-width: calc(100% / 3);
					}
				}
			}
		}

		&-middle {
			width: 100%;
			max-width: calc((100% - (125px + 250px)));
			min-height: 100%;
			max-height: 100%;
			@include adaptive(1023) {
				order: 1;
				display: flex;
				flex-direction: column;
				max-width: 100%;
				height: 550px;
				border-bottom: 1px solid rgb(234, 234, 234);
			}

			.details__wrapper-scroll {
				@include adaptive(1023) {
					height: 100%;
					max-height: 100%;
				}
			}
		}

		&-right {
			width: 250px;
			border-left: 1px solid rgb(234, 234, 234);
			@include adaptive(1023) {
				order: 2;
				width: 100%;
				border-left: none;
			}
		}

		&-scroll {
			overflow: hidden auto;
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;
			flex-wrap: wrap;
			height: 100%;
			max-height: 100%;
			@include adaptive(1023) {
				height: auto;
			}

			&-1 {
				> div {
					width: 100%;
					@include adaptive(1023) {
						display: inline-block;
						width: 100px;
						height: 75px !important;
					}
				}
			}

			&-2 {
				flex-wrap: wrap;

				> div {
					width: 50%;
					height: 100px !important;
					@include adaptive(1023) {
						width: 100%;
						max-width: calc(100% / 3);
						height: 100px !important;
					}
				}
			}

			> div {
				height: 100px;
				padding: 10px;
				@include adaptive(1535) {
					height: 75px;
				}

				> a {
					display: flex;
					align-items: center;
					width: 100%;
					height: 100%;
				}
			}

			img {
				display: block;
				max-width: 100%;
				height: auto;
				max-height: 100%;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

	.carousel {
		&-item {
			&-content {
				display: flex;
				flex-wrap: wrap;
				width: 100%;
				max-height: 100%;
				padding-bottom: 20px;
				background-color: #ffffff;
				@include adaptive(767) {
					padding-bottom: 0;
				}

				> div {
					width: 100%;
					max-width: 50%;
					height: 75px;
					@include adaptive(767) {
						max-width: 100%;
						height: 65px;
					}

					&:nth-of-type(odd) {
						padding-right: 10px;
						border-right: 1px solid rgb(234, 234, 234);
						@include adaptive(767) {
							padding-right: 0;
							border-right: none;
						}
					}
					&:nth-of-type(even) {
						padding-left: 10px;
						@include adaptive(767) {
							padding-left: 0;
						}
					}
				}

				a {
					display: flex;
					flex-direction: column;
					justify-content: center;
					width: 100%;
					height: 100%;
					padding-left: 10px;
					padding-right: 10px;
					border-bottom: 1px solid rgb(234, 234, 234);
					@include transition(background-color);

					&:hover {
						background-color: rgba(#663399, 0.05);
						@include transition(background-color);
					}

					p,
					span {
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}

					p {
						color: #663399;
						font-size: 16px;
						font-weight: 500;
						@include transition(color);
						@include adaptive(1279) {
							font-size: 14px;
						}
					}

					span {
						color: #222222;
						font-size: 13px;
					}
				}
			}
		}
	}
}

// SECTION :: END
