// SECTION :: START

.details {
	padding-top: 30px;
	padding-bottom: 30px;
	@include adaptive(1535) {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	&__container {
		overflow: hidden;
		border-radius: 10px;
		box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
	}

	&__header {
		display: flex;
		height: 45px;
		border-radius: 10px 10px 0 0;
		background-color: rgb(255, 255, 255);
		border-top: 1px solid rgb(234, 234, 234);
		border-left: 1px solid rgb(234, 234, 234);
		border-right: 1px solid rgb(234, 234, 234);
		@include adaptive(1023) {
			display: none;
		}

		> div {
			display: flex;
			align-items: center;
			justify-content: center;

			p {
				padding-left: 5px;
				padding-right: 5px;
				font-size: 16px;
				font-weight: 600;
				text-transform: uppercase;
				@include adaptive(1535) {
					font-size: 14px;
				}
			}

			.icon-font {
				margin-left: 2px;
				margin-right: 2px;
				color: #663399;
				@include adaptive(1535) {
					font-size: 12px;
				}
			}
		}

		&-left {
			width: 125px;
			border-right: 1px solid rgb(234, 234, 234);
		}

		&-middle {
			width: 100%;
			max-width: calc((100% - (125px + 250px)));
		}

		&-right {
			width: 250px;
			border-left: 1px solid rgb(234, 234, 234);
		}
	}

	&__wrapper {
		display: flex;
		height: 650px;
		border-style: solid;
		border-width: 1px;
		border-color: rgb(234, 234, 234);
		border-radius: 0 0 10px 10px;
		background-color: rgb(255, 255, 255);
		@include adaptive(1535) {
			height: 580px;
		}
		@include adaptive(1023) {
			flex-wrap: wrap;
			height: auto;
		}

		&-header {
			display: none;
			align-items: center;
			justify-content: center;
			height: 45px;
			border-bottom: 1px solid #eaeaea;
			@include adaptive(1023) {
				display: flex;
			}

			p {
				padding-left: 5px;
				padding-right: 5px;
				font-size: 16px;
				font-weight: 600;
				text-transform: uppercase;
				@include adaptive(1535) {
					font-size: 14px;
				}
			}

			.icon-font {
				margin-left: 2px;
				margin-right: 2px;
				color: #663399;
				@include adaptive(1535) {
					font-size: 12px;
				}
			}
		}

		&-left {
			width: 125px;
			border-right: 1px solid rgb(234, 234, 234);
			@include adaptive(1023) {
				width: 100%;
				border-bottom: 1px solid rgb(234, 234, 234);
			}

			.details__wrapper-scroll {
				> div {
					padding: 20px;
					@include adaptive(1535) {
						padding: 15px;
					}
				}
			}
		}

		&-middle {
			width: 100%;
			max-width: calc((100% - (125px + 250px)));
			@include adaptive(1023) {
				display: flex;
				flex-direction: column;
				max-width: 100%;
				height: 550px;
				border-bottom: 1px solid rgb(234, 234, 234);
			}
		}

		&-right {
			width: 250px;
			border-left: 1px solid rgb(234, 234, 234);
			@include adaptive(1023) {
				width: 100%;
				border-left: none;
			}
		}

		&-scroll {
			overflow: hidden auto;
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;
			flex-wrap: wrap;
			height: 100%;
			@include adaptive(1023) {
				height: auto;
			}

			&-1 {
				@include adaptive(1023) {
					white-space: nowrap;
					overflow: auto hidden;
					position: relative;
					display: block;
					font-size: 0;
				}

				> div {
					width: 100%;
					@include adaptive(1023) {
						display: inline-block;
						width: 100px;
						height: 75px !important;
					}
				}
			}

			&-2 {
				flex-wrap: wrap;
				@include adaptive(1023) {
					white-space: nowrap;
					overflow: auto hidden;
					display: block;
					position: relative;
					font-size: 0;
				}

				> div {
					width: 50%;
					@include adaptive(1023) {
						display: inline-block;
						width: 100px;
						height: 100px !important;
					}
				}
			}

			> div {
				height: 100px;
				padding: 10px;
				@include adaptive(1535) {
					height: 75px;
				}
			}

			a {
				display: flex;
				align-items: center;
				width: 100%;
				height: 100%;
			}

			img {
				display: block;
				max-width: 100%;
				height: auto;
				max-height: 100%;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

	#sliderDetails {
		width: 100%;
		height: 100%;

		.carousel {
			&-inner {
				width: 100%;
				height: 100%;
				padding: 20px 10px;
			}

			&-indicators {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 40px;
				margin: 0;

				li {
					width: 8px;
					height: 8px;
					border-radius: 50%;
					background-color: #222222;
				}
			}

			&-item {
				width: 100%;
				height: 100%;

				&-content {
					display: flex;
					flex-wrap: wrap;
					width: 100%;
					height: 100%;
					padding-bottom: 20px;
					background-color: #ffffff;

					> div {
						width: 100%;
						max-width: 50%;

						&:nth-of-type(1),
						&:nth-of-type(2) {
							a {
								border-top: 1px solid rgb(234, 234, 234);
							}
						}

						&:nth-of-type(odd) {
							padding-right: 10px;
							border-right: 1px solid rgb(234, 234, 234);
						}
						&:nth-of-type(even) {
							padding-left: 10px;
						}
					}
				}

				a {
					display: flex;
					flex-direction: column;
					justify-content: center;
					width: 100%;
					height: 100%;
					padding-left: 10px;
					padding-right: 10px;
					border-bottom: 1px solid rgb(234, 234, 234);
					@include transition(background-color);

					&:hover {
						background-color: rgba(#663399, 0.05);
						@include transition(background-color);
					}

					p,
					span {
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}

					p {
						color: #663399;
						font-size: 18px;
						font-weight: 700;
						@include transition(color);
						@include adaptive(1535) {
							font-size: 16px;
						}
					}

					span {
						color: #222222;
						font-size: 16px;
						@include adaptive(1535) {
							font-size: 14px;
						}
					}
				}
			}
		}
	}
}

// SECTION :: END
