// SECTION :: START

.employers {
	padding-top: 30px;
	@include adaptive(767) {
		padding-top: 20px;
	}

	&.employers--insurance-jobs {
		.employers {
			&__wrapper {
				> div {
					@include adaptive(767) {
						max-width: 100%;
						padding-bottom: 0;
						border-bottom: 0;
					}
				}
			}
		}
	}

	&__title {
		padding-bottom: 30px;
		@include adaptive(1535) {
			padding-bottom: 20px;
		}
		@include adaptive(767) {
			display: none;
		}
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;
		min-height: 138px;
		padding-top: 30px;
		padding-bottom: 30px;
		border-style: solid;
		border-width: 1px;
		border-color: rgb(234, 234, 234);
		border-radius: 10px;
		background-color: rgb(255, 255, 255);
		box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
		@include adaptive(1535) {
			padding-top: 20px;
			padding-bottom: 20px;
		}
		@include adaptive(767) {
			flex-wrap: wrap;
			padding: 20px;
		}

		> div {
			width: 100%;
			max-width: calc(100% / 6);
			@include adaptive(767) {
				max-width: calc(100% / 3);

				&:nth-of-type(1),
				&:nth-of-type(2),
				&:nth-of-type(3), {
					padding-bottom: 20px;
					border-bottom: 1px solid rgb(234, 234, 234);
				}

				&:nth-of-type(4),
				&:nth-of-type(5),
				&:nth-of-type(6) {
					padding-top: 20px;
				}

				&:nth-of-type(2),
				&:nth-of-type(5) {
					border-left: 1px solid rgb(234, 234, 234);
					border-right: 1px solid rgb(234, 234, 234);
				}
			}
		}
	}

	&__box {
		display: flex;
		flex-direction: column;
		padding-left: 5px;
		padding-right: 5px;
		text-align: center;
		@include adaptive(767) {
			padding-left: 5px;
			padding-right: 5px;
		}

		&:hover {
			.employers__box {
				&-head {
					transform: translateY(-5px) scale(1.05);
					@include transition(transform);
				}

				&-body {
					p {
						color: #663399;
						@include transition(color);
					}
				}
			}
		}

		&-head {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 110px;
			height: 110px;
			margin-left: auto;
			margin-right: auto;
			transform-origin: center;
			@include transition(transform);
			@include adaptive(1535) {
				width: 100px;
				height: 100px;
			}
			@include adaptive(1279) {
				width: 80px;
				height: 80px;
			}

			img {
				display: block;
				max-width: 100%;
				height: auto;
				max-height: 100%;
				margin-left: auto;
				margin-right: auto;
			}
		}

		&-body {
			padding-top: 10px;
			@include adaptive(767) {
				display: none;
			}

			p {
				color: #6e6e6e;
				font-size: 14px;
				@include transition(color);
			}
		}
	}
}

// SECTION :: END
