// SECTION :: START

.looking {
	padding-top: 30px;

	&--desktop {
		@include adaptive(1023) {
			display: none;
		}
	}
	&--mobile {
		display: none;
		order: 3;
		width: 100%;
		padding-top: 10px;
		@include adaptive(1023) {
			display: block;
		}

		.c-grid {
			padding-left: 0;
			padding-right: 0;
		}

		.looking {
			&__wrapper {
				box-shadow: none;
			}
		}
	}

	&__wrapper {
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 95px;
		padding: 15px 44px 15px 130px;
		border-radius: 10px;
		background-color: #663399;
		box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
		background-image: url('../img/img-looking-graphics@2x.png');
		background-repeat: no-repeat;
		background-position: left bottom;
		background-size: contain;
		@include adaptive(1023) {
			padding-left: 44px;
		}
		@include adaptive(767) {
			flex-direction: column;
			padding: 5px 15px;
		}

		&-left,
		&-right {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	&__title,
	&__subtitle {
		color: #ffffff;
		@include adaptive(767) {
			text-align: center;
		}
	}

	&__title {
		line-height: 1;
		font-size: 24px;
		font-weight: bold;
		@include adaptive(767) {
			font-size: 18px;
		}
	}

	&__subtitle {
		font-size: 17px;
		@include adaptive(767) {
			font-size: 14px;
		}
	}

	.c-btn {
		margin-left: 10px;
		margin-right: 10px;
		font-family: 'GothamPro', 'Quicksand', sans-serif;
		font-weight: 700;
	}
}

// SECTION :: END
