// SECTION :: START

.looking {
	padding-top: 30px;
	padding-bottom: 30px;
	@include adaptive(1535) {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	&__wrapper {
		display: flex;
		align-items: center;
		height: 120px;
		padding: 15px 60px;
		border-radius: 10px;
		background-color: #663399;
		box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
		background-image: url('../img/img-looking-graphics@2x.png');
		background-repeat: no-repeat;
		background-position: left bottom;
		background-size: contain;
		@include adaptive(1535) {
			padding-left: 40px;
			padding-right: 40px;
		}
		@include adaptive(1023) {
			padding-left: 20px;
			padding-right: 20px;
		}
		@include adaptive(767) {
			flex-wrap: wrap;
			height: auto;
			padding-top: 75px;
			padding-bottom: 20px;
			background-position: top center;
		}

		&-left,
		&-right {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 50%;
			@include adaptive(767) {
				width: 100%;
			}
		}

		&-left {
			padding-right: 30px;
			@include adaptive(1535) {
				padding-right: 20px;
			}
			@include adaptive(1023) {
				padding-right: 10px;
			}
			@include adaptive(767) {
				padding-bottom: 15px;
				padding-right: 0;
			}
		}

		&-right {
			padding-left: 30px;
			@include adaptive(1535) {
				padding-left: 20px;
			}
			@include adaptive(1023) {
				padding-left: 10px;
			}
			@include adaptive(767) {
				padding-left: 0;
			}
		}
	}

	&__title,
	&__subtitle {
		color: #ffffff;
	}

	&__title {
		line-height: 1;
		font-size: 30px;
		font-weight: bold;
		@include adaptive(1535) {
			font-size: 26px;
		}
		@include adaptive(767) {
			padding-bottom: 10px;
		}
	}

	&__subtitle {
		font-size: 20px;
		@include adaptive(1535) {
			font-size: 18px;
		}
	}

	.c-btn {
		margin-left: 10px;
		margin-right: 10px;
		@include adaptive(767) {
			width: 100%;
			margin-left: 0;
			margin-right: 0;

			&:nth-of-type(1) {
				margin-bottom: 15px;
			}
		}

		&__wrapper {
			@include adaptive(767) {
				flex-direction: column;
				width: 100%;
			}
		}
	}
}

// SECTION :: END
