// SECTION :: START

.main {
	position: relative;
	background-color: #000000;

	&__slider {
		z-index: 0;
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		height: 600px;
	}

	&__wrapper {
		position: absolute;
		top: calc(50% - 30px);
		transform: translateY(-50%);
		left: 0;
		right: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-left: auto;
		margin-right: auto;

		> div {
			z-index: 2;
			position: relative;
			width: 100%;
			max-width: 1220px;
		}
	}

	&__title {
		padding-bottom: 20px;
		text-align: left;
		font-weight: 600;
		line-height: 1.2;
	}

	&__form {
		position: relative;
		display: flex;
		justify-content: space-between;
		height: 65px;
		padding: 5px;
		border-style: solid;
		border-width: 1px;
		border-color: rgb(234, 234, 234);
		border-radius: 5px;
		background-color: rgb(255, 255, 255);
		box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);

		&-wrapper {
			padding: 8px;
			border-radius: 8px;
			background-color: rgba(0, 0, 0, 0.35);
		}

		&-field {
			display: flex;
			align-items: center;
			min-height: 100%;
			background-color: #ffffff;

			&.main__form-field-1 {
				flex: 1;
				min-width: 1px;
				max-width: 100%;
			}

			&.main__form-field-2,
			&.main__form-field-3 {
				border-left: 1px solid rgb(234, 234, 234);

				p {
					width: 56px;
				}
			}

			&-2 {
				width: 100%;
				max-width: 300px;
			}
			&-3 {
				width: 100%;
				max-width: 235px;
			}
			&-4 {
				padding-left: 5px;
				border-left: 1px solid rgb(234, 234, 234);
			}
		}

		label {
			position: relative;
			display: flex;
			align-items: center;
			width: 100%;
			height: 100%;
			margin: 0;
		}

		p {
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 46px;
			height: 100%;
		}

		.icon-font {
			color: #222222;
			font-size: 24px;

			&.icon-folder,
			&.icon-pin {
				color: #6e6e6e;
			}
		}

		input {
			outline: none;
			position: relative;
			width: 100%;
			height: 100%;
			border: none;
			box-shadow: none;
			border-radius: 0;
			background-color: #fff;
			font-size: 16px;
			font-weight: 600;
			color: #222222;
			@include inputPlaceholder {
				font-size: 16px;
				font-weight: 600;
				color: #6e6e6e;
			}
		}

		.dropdown {
			display: flex;
			align-items: center;
			width: 100%;
			height: 100%;

			&-toggle {
				position: relative;
				display: flex;
				align-items: center;
				justify-content: space-between;
				width: 100%;
				height: 100%;
				padding-right: 30px;
				font-size: 16px;
				font-weight: 600;
				color: #222222;
				@include transition(color);

				&:hover {
					color: #663399;
					@include transition(color);
				}

				&:after {
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					right: 10px;
				}
			}

			&-menu {
				overflow-y: auto;
				left: auto !important;
				right: 0 !important;
				transform: translate3d(0px, 58px, 0px) !important;
				width: calc(100% + 47px);
				max-height: 300px;
				margin: 0;
				border-top: none;
				border-top-left-radius: 0;
				border-top-right-radius: 0;
				box-shadow: 0 3px 10px 0 rgba(#000, 0.05);
			}

			&-item {
				font-size: 14px;
				font-weight: 600;
				@include transition(background-color, color);

				&:hover {
					background-color: rgba(#663399, 0.05);
					color: #663399;
					@include transition(background-color, color);
				}

				&:active {
					background-color: #663399;
					color: #ffffff;
					@include transition(background-color, color);
				}
			}
		}

		.c-btn {
			min-width: unset;
			height: 100%;
			padding-left: 40px;
			padding-right: 40px;
			box-shadow: none;

			&:nth-child(1) {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}
			&:nth-child(2) {
				width: 50px;
				min-width: unset;
				padding-left: 10px;
				padding-right: 10px;
				border-left: 1px solid #fff;
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;

				.icon-font {
					color: #ffffff;
					font-size: 18px;
				}
			}

			&__wrapper {
				height: 100%;
			}
		}
	}

	&__hero {
		z-index: 10;
		opacity: 1;
		position: relative;
		display: flex;
		width: 100%;
		max-width: 350px;
		height: 78px;
		padding: 10px;
		align-items: center;
		border-style: solid;
		border-width: 1px;
		border-color: rgb(220, 220, 220);
		border-radius: 8px;
		background-color: rgba(249, 249, 249, 0.902);
		box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.3),0px 15px 30px 0px rgba(0, 0, 0, 0.2);


		> div {
			&:nth-of-type(2) {
				display: flex;
				flex-direction: column;
				justify-content: center;
				padding-left: 10px;
			}
		}

		h6,
		p,
		span {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			display: block;
			line-height: 1.3;
		}

		h6 {
			color: #222222;
			font-size: 16px;
			font-weight: 600;
		}

		p,
		span {
			color: #6e6e6e;
			font-size: 14px;
		}

		&-img {
			overflow: hidden;
			position: relative;
			width: 64px;
			height: 64px;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 10px;
			border-style: solid;
			border-width: 1px;
			border-color: rgb(234, 234, 234);
			border-radius: 6px;
			background-color: rgb(255, 255, 255);
			box-shadow: 0px 15px 45px 0px rgba(0, 0, 0, 0.14);

			img {
				display: block;
				max-width: 100%;
				height: auto;
				max-height: 100%;
			}
		}
	}

	#sliderMain {
		width: 100%;
		height: 100%;

		.carousel {
			&-inner,
			&-item {
				width: 100%;
				height: 100%;
				background-position: center left;
				background-size: cover;
				background-repeat: no-repeat;
			}

			&-item {
				position: relative;
				padding: 40px 40px 50px;
				transition-duration: 850ms;

				&:after {
					z-index: 0;
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: rgba(#000, 0.5);
				}

				&-content {
					display: flex;
					align-items: flex-end;
					width: 100%;
					max-width: 1250px;
					height: 100%;
					padding-left: 15px;
					padding-right: 15px;
					margin-left: auto;
					margin-right: auto;
				}
			}
		}
	}

	.carousel {
		&-indicators {
			z-index: 15;
			bottom: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 50px;
			margin: 0;

			li {
				opacity: 1;
				height: 8px;
				width: 8px;
				margin-left: 5px;
				margin-right: 5px;
				border-radius: 50%;
				border: 1px solid #fff;
				background-color: transparent;
				@include transition(background-color);

				&.active {
					background-color: #ffffff;
					@include transition(background-color);
				}
			}
		}
	}
}

// SECTION :: END
