// SECTION :: START

.terms {
	padding-top: 10px;
	padding-bottom: 15px;
	background-color: #eeeeee;

	&__wrapper {
		width: 100%;
		max-width: calc(100% - (95px * 2));
		margin-left: auto;
		margin-right: auto;
		padding: 40px 50px;
		border-radius: 3px;
		box-shadow: 0 1px 11px -3px rgba(0, 0, 0, 0.59);
		background-color: #fff;
		font-family: 'Lato', sans-serif;
		font-weight: 400;
		@include adaptive(1279) {
			max-width: calc(100% - (30px * 2));
		}
		@include adaptive(1023) {
			max-width: calc(100% - (15px * 2));
			padding: 25px 20px;
		}
	}

	h3 {
		font-size: 24px;
		color: #000;
		margin-bottom: 10px;
	}

	h5 {
		font-size: 20px;
		color: #000;
		margin-bottom: 10px;
	}

	b {
		font-size: 15px;
		color: #000;
		margin-bottom: 10px;
	}

	p {
		font-size: 15px;
		color: #000;
		margin-bottom: 20px;

		a {
			color:#1155CC;
		}
	}
}

// SECTION :: END
