.search__header
	div

		p.search__header-res!= "<span>2,356</span> Graphic Designer Jobs found"

	div
		p Sort By:

		.dropdown
			button.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
				| Recommended
			.dropdown-menu.dropdown-menu-right
				a.dropdown-item(href='#') Recommended
				a.dropdown-item(href='#') Post Date
