.search__action
	.search__action-left
		a.search__action-btn(href="#")
			i.icon-font.icon-keyboard-arrow-down
			i.icon-font.icon-keyboard-arrow-down
		a.search__action-btn(href="#")
			i.icon-font.icon-keyboard-arrow-down

	.search__action-middle
		a.search__action-btn.active(href="#") 1
		a.search__action-btn(href="#") 2
		a.search__action-btn(href="#") 3
		a.search__action-btn(href="#") 4
		a.search__action-btn(href="#") 5
		a.search__action-btn(href="#") 6
		a.search__action-btn(href="#") 7
		a.search__action-btn(href="#") ...

	.search__action-right
		a.search__action-btn(href="#")
			i.icon-font.icon-keyboard-arrow-down
		a.search__action-btn(href="#")
			i.icon-font.icon-keyboard-arrow-down
			i.icon-font.icon-keyboard-arrow-down

