.search__alert
	a.search__alert-close(href="#")
		i.icon-font.icon-close

	div
		i.icon-font.icon-mail
		i.icon-font.icon-mail

	div
		p
			i.icon-font.icon-mail
			span Get 'Accounting, Finance Jobs in Myanmar' by Email
		form(action='' method='' autocomplete='off')
			label
				input(type='email' name='' placeholder='Your email address')
			.c-btn__wrapper
				button.c-btn.c-btn--orange(type='submit')
					span Email Me Jobs
