mixin job(classMod, imageBool)
	.search__job(class!= classMod)
		.search__job-head
			div

				.search__job-heading
					p.search__job-title Senior .NET Developer (Urgent)

				p.search__job-subtitle Codigo - The Mobile App Company

				.search__job-additional
					a.search__job-sign(href="#")
						i.icon-font.icon-dollar-symbol
						span Login to view salary

					p.search__job-location
						i.icon-font.icon-pin
						span!= "Myanmar, Yangon"

			div
				if(imageBool)
					.search__job-logo
						img(src="img/img-employers-unilever.png" alt="")
				else
					.search__job-logo.search__job-logo--wi
						i.icon-font.icon-photo
						p No Image

		.search__job-body

			ul.search__job-list
				li
					p!= "<strong>Benefits:</strong> Rewards for over performance"
				li
					p!= "<strong>Highlights:</strong> * Fun working environment * International standard * Make a different"
				li
					p!= "<strong>Career Opportunities:</strong> * Opportunities for promotion * Possibility for job training"

			p.search__job-desc Greet visitors appropriately - Answer incoming phone calls in a timely and polite manner calls to appropriate per visitors appropriately incoming phone calls in a timely and polite manner -Forward calls to appropriate per

		.search__job-footer
			div
				p.search__job-category
					i.icon-font.icon-folder
					span Job Function: Engineering/Technical
			div
				p.search__job-category
					i.icon-font.icon-cogwheel
					span Industry: Telecommunications
			div
				p.search__job-posted
					i.icon-font.icon-clock
					span Posted Today
			div
				.c-btn__wrapper
					a.c-btn.c-btn--purple(href="#")
						span View

.search__job-wrapper
	each val, idx in [1,2,3,4]
		div
			+job('', false)
		div
			+job('search__job--hot', true)
