// SECTION :: START

section#search.search

	.search__form
		.search__form-wrapper

			include _search--form

	.c-grid
		.search__wrapper.search__wrapper-1

			include _search--header

		.search__wrapper.search__wrapper-2
			.search__wrapper-left

				include _search--filter

			.search__wrapper-right

				include _search--job

				include _search--action

// SECTION :: END
