// SECTION :: START

.login {
	position: relative;
	width: 100%;
	min-height: 560px;
	background-image: url('../img/img-login-bg.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	@include adaptive(767) {
		min-height: unset;
	}

	&.login--register {
		min-height: 100vh;
		background-image: url('../img/img-register-bg.jpg');

		.login {
			&__wrapper {
				@include adaptive(1023) {
					padding-top: 10px;
				}
			}
			&__box {
				max-width: 620px;
				padding: 15px 60px 15px;
				@include adaptive(767) {
					padding: 15px 30px;
				}

				&-title {
					@include adaptive(767) {
						font-size: 17px;
					}
				}

				.form {
					&-control {
						border: 1px solid #ddd;
						border-radius: 2px;
						font-weight: 500;
						box-shadow: 0 0 3px 0 transparent;
						@include transition(border-color, box-shadow);
						@include inputPlaceholder {
							font-weight: 500;
						}

						&:focus {
							border-color: #65339B;
							box-shadow: 0 0 3px 0 #65339B;
							@include transition(border-color, box-shadow)
						}
					}
				}
			}
		}
	}

	&.login--register-2 {
		background-image: url('../img/img-register-bg-1.jpg');

		.login {
			&__box {
				max-width: 520px;

				&-title {
					font-family: 'Roboto', sans-serif;
					font-weight: 300;
				}
			}

			&__step {
				&-btn {
					&--prev {
						@include adaptive(767) {
							display: none;
						}
					}
				}
			}
		}
	}

	&.login--register-3 {
		background-image: url('../img/img-register-bg-2.jpg');
		font-family: Roboto, Helvetica, Verdana, Arial, sans-serif, Zawgyi-One;

		.login {
			&__box {
				max-width: 620px;
			}

			&__step {
				&-btn {
					&--prev {
						@include adaptive(767) {
							margin-top: 0;
							&:first-of-type {
								display: none;
							}
						}
					}

					&--current {
						@include adaptive(767) {
							margin-top: -5px;
						}
					}
				}
			}
		}

		.c-btn {
			span {
				font-family: Roboto, Helvetica, Verdana, Arial, sans-serif, Zawgyi-One;
			}
		}
	}

	&:before {
		content: '';
		z-index: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(102, 51, 153, 0.2);
	}

	&__wrapper {
		z-index: 2;
		position: relative;
		padding: 25px;
		@include adaptive(767) {
			padding-left: 0;
			padding-right: 0;
		}
	}

	&__logo {
		z-index: 2;
		position: relative;
		max-width: 70vw;
		width: 100%;
		margin: 0 auto;
		padding-top: 35px;
		padding-bottom: 15px;
		@include adaptive(1535) {
			max-width: 95vw;
			padding-top: 15px;
			padding-bottom: 0;
		}
		@include adaptive(1023) {
			max-width: 98%;
			padding-left: 15px;
			padding-right: 15px;
		}

		.logo {
			&__btn {
				max-width: 197px;
			}
		}
	}

	&__step {
		display: flex;
		justify-content: center;
		padding-top: 15px;
		padding-bottom: 12px;
		@include adaptive(1023) {
			padding-top: 0;
		}
		@include adaptive(767) {
			flex-direction: column;
			padding-left: 15px;
			padding-right: 15px;
		}

		&-btn {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 11px 40px;
			border: 3px solid #fff;
			border-radius: 30px;
			text-transform: uppercase;
			color: #fff;
			font-size: 12px;
			font-family: 'Roboto', 'Quicksand', sans-serif;
			font-weight: 600;
			@include adaptive(767) {
				padding: 8px 40px;
				text-align: center;
				font-size: 13px;
			}

			&--prev {
				z-index: 0;
				margin-right: -35px;
				background-color: rgba(204, 138, 226, 0.7);
				@include adaptive(767) {
					margin-right: 0;
				}
			}

			&--current {
				z-index: 5;
				background-image: linear-gradient(to right, #AB01FD, #AF00FF);
			}

			&--next {
				z-index: 0;
				opacity: .5;
				margin-left: -35px;
				background: rgba(0,0,0,0.3);
				@include adaptive(767) {
					margin-left: 0;
					margin-top: -5px;
				}
			}
		}
	}

	&__partners {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-bottom: 15px;

		> div {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 50px;
			height: 50px;
			@include adaptive(767) {
				padding-left: 5px;
				padding-right: 5px;

				&:last-of-type {
					display: none;
				}
			}

			img {
				display: block;
				max-width: 100%;
				height: auto;
				max-height: 100%;
			}
		}
	}

	&__box {
		position: relative;
		display: flex;
		flex-direction: column;
		width: 100%;
		max-width: 560px;
		margin-left: auto;
		margin-right: auto;
		padding: 20px 40px;
		border-radius: 3px;
		box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
		background-color: #ffffff;
		@include adaptive(767) {
			width: 90%;
			padding: 20px;
		}

		&-title {
			padding-bottom: 15px;
			color: #663399;
			text-align: center;
			font-size: 24px;
			@include adaptive(767) {
				font-size: 18px;
			}
		}

		&-subtitle {
			padding-bottom: 15px;
			color: #333;
			text-align: center;
			font-size: 16px;
			@include adaptive(767) {
				font-size: 14px;
			}
		}

		&-info {
			text-align: center;
			color: #828282;
			font-weight: 500;
			font-size: 13px;
			@include adaptive(767) {
				font-size: 12px;
			}

			&.login__box-info--tdn {
				a {
					text-decoration: none;
				}
			}

			a {
				text-decoration: underline;
				color: #115DB5;

				&:hover {
					color: #115DB5;
				}
			}
		}

		&-link {
			display: flex;
			justify-content: center;
			text-align: center;
			font-size: 13px;
			font-weight: 500;
			color: #115DB5;

			&:hover {
				color: #115DB5;
			}
		}

		&-separate {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 12px;

			&:after {
				content: '';
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 0;
				width: 100%;
				height: 1px;
				background-color: #c8c8c8;
			}

			span {
				z-index: 2;
				position: relative;
				display: block;
				padding-left: 5px;
				padding-right: 5px;
				font-size: 12px;
				line-height: 1;
				text-transform: uppercase;
				background-color: #ffffff;
			}
		}

		.c-btn {
			width: 100%;
			height: 36px;
			border-radius: 2px;

			span {
				font-size: 13px;

			}

			&__wrapper {
				width: 100%;
			}
		}

		.row {
			justify-content: space-between;
			margin: 0;
			margin-bottom: 15px;
			@include adaptive(767) {
				flex-wrap: wrap;
			}

			.col {
				width: 100%;
				max-width: calc((100% - 15px) / 2);
				padding-left: 0;
				padding-right: 0;
				@include adaptive(767) {
					flex: unset;
					max-width: 100%;

					&:first-of-type {
						margin-bottom: 15px;
					}
				}
			}
		}

		.form {
			&-group {
				width: 100%;
				margin-bottom: 15px;

				&--pb0 {
					margin-bottom: 0;
				}

				&--social {
					display: flex;
					align-items: center;
					justify-content: space-between;
					@include adaptive(767) {
						flex-wrap: wrap;
					}

					.c-btn {
						white-space: nowrap;
						padding-left: 8px;
						padding-right: 8px;
						border: 1px solid #ccc;
						border-radius: 0;
						background-color: #F9F9F9;

						&__wrapper {
							width: 100%;
							max-width: calc((100% - 15px) / 2);
							@include adaptive(767) {
								max-width: 100%;

								&:first-of-type {
									margin-bottom: 15px;
								}
							}
						}

						&:hover {
							box-shadow: none;
						}

						> div {
							&:nth-of-type(1) {
								display: flex;
								align-items: center;
								width: 36px;
							}
							&:nth-of-type(2) {
								flex: 1;
								min-width: 1px;
								max-width: 100%;
								padding-left: 15px;
								@include adaptive(767) {
									text-align: center;
									padding-right: 51px;
								}
							}
						}

						img {
							z-index: 2;
							position: relative;
							max-width: 100%;
							height: 18px;
						}

						span {
							color: #444;
							text-transform: none;
						}
					}
				}

				&--flexEnd {
					position: relative;
					display: flex;
					justify-content: flex-end;

					&.is-add {
						.icon-font {
							opacity: 1;
							visibility: visible;
							@include transition(opacity, visibility);
						}
					}

					.icon-font {
						opacity: 0;
						visibility: hidden;
						z-index: 10;
						position: absolute;
						top: 0;
						transform: translateY(-110%);
						right: 0;
						font-size: 30px;
						color: #663399;
						@include transition(opacity, visibility);
					}

					.c-btn {
						width: auto;
						padding-left: 30px;
						padding-right: 30px;

						&__wrapper {
							width: auto;
						}
					}
				}

				label {
					display: flex;
					padding-bottom: 8px;
					font-weight: 700;
					font-size: 12px;
					line-height: 1;
				}

				.custom-control {
					display: flex;
					align-items: center;
					justify-content: flex-end;

					&-input:focus~.custom-control-label::before,
					&-input:focus:not(:checked)~.custom-control-label::before,
					&-input.focus:not(:checked)~.custom-control-label::before,
					&-input:not(:disabled):active~.custom-control-label::before {
						box-shadow: none;
						border: none;
					}

					&-input:checked~.custom-control-label::after {
						transform: translateX(1.05rem);
					}

					&-input {
						&:checked {
							~.custom-control-label {
								&:before {
									border-color: #00AA86;
									background-color: #00aa86;
								}
							}
						}
					}

					&-label {
						padding-bottom: 0;
						color: #616161;
						font-weight: 500;
						margin-left: 50px;

						&:before {
							left: -45px;
							top: 50%;
							transform: translateY(-50%);
							width: 40px;
							height: 23px;
							border-radius: 34px;
							border-color: #ccc;
							background-color: #ccc;
						}

						&:after {
							top: -3px;
							left: -42px;
							width: 18px;
							height: 18px;
							border-radius: 50%;
							background-color: #ffffff;
						}
					}
				}
			}

			&-control {
				outline: none;
				height: 34px;
				border: 1px solid #ccc;
				border-left: 0;
				border-radius: 4px;
				background-image: none;
				background-color: #fff;
				color: #000;
				font-size: 12px;
				font-weight: 500;
				@include inputPlaceholder {
					color: #555;
					font-size: 12px;
					font-weight: 400;
				}

				&:focus {
					box-shadow: none;
				}
			}
		}

		.input-group {
			&--date {
				position: relative;

				.icon-font {
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					right: 10px;
					font-size: 16px;
					color: #3e63ab;
				}
			}

			&-prepend {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 40px;
				height: 34px;
				border-radius: 4px 0 0 4px;
				border-top: 1px solid #ccc;
				border-left: 1px solid #ccc;
				border-bottom: 1px solid #ccc;

				.icon-font {
					color: #808080;
					font-size: 16px;
				}
			}
		}
	}

	&__scroll {
		overflow-y: auto;
		max-height: 315px;
		@include adaptive(767) {
			max-height: 353px;
		}
	}

	&__more {
		&-close {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			margin-bottom: 5px;

			&:before {
				content: '';
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 0;
				width: 100%;
				height: 1px;
				background-color: #c8c8c8;
			}

			a {
				z-index: 2;
				position: relative;
				left: -10px;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 40px;
				height: 20px;
				background-color: #ffffff;

				.icon-font {
					color: #000000;
					font-size: 11px;
				}
			}
		}
	}

	&__upload {
		position: relative;

		&-title {
			padding-bottom: 20px;
			text-align: center;
			text-transform: capitalize;
			font-size: 16px;
			font-weight: 400;
		}

		&-box {
			padding: 20px 0 15px;
			margin-bottom: 20px;
			border: 1px dashed #DFDFDF;
			border-radius: 3px;
			text-align: center;

			&-title {
				padding-top: 12px;
				padding-bottom: 12px;
				font-size: 12px;
				color: #000;
			}

			&-info {
				padding-top: 20px;
				color: #929292;
				font-size: 14px;
				line-height: 20px;

				strong {
					font-weight: bolder;
				}
			}

			.c-btn {
				width: 180px;
				height: 40px;
				margin-left: auto;
				margin-right: auto;
				border-width: 2px;

				span {
					font-size: 14px;
					font-weight: 600;
				}

				&__wrapper {
					justify-content: center;
				}
			}

			svg {
				display: block;
				width: 75px;
				height: 53px;
				fill: #e88b0b;
				margin: 0 auto;
				transition: fill .3s,stroke .3s;
			}
		}

		.c-btn {
			&__wrapper {}
		}

		input[type='file'] {
			opacity: 0;
			cursor: pointer;
			z-index: 10;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	.nav-pills {
		display: flex;
		padding-bottom: 15px;
		font-family: Roboto, Helvetica, Verdana, Arial, sans-serif, Zawgyi-One;

		li {
			width: 50%;

			a {
				cursor: pointer;
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-basis: 50%;
				padding: 10px 20px;
				border-bottom: 2px solid #DFDFDF;
				@include adaptive(767) {
					padding: 0 0 5px;
				}

				&.active {
					&:after {
						opacity: 1;
						visibility: visible;
						@include transition(opacity, visibility);
					}

					p {
						background-color: #663399;
						color: #fff;
						@include transition(background-color, color);
					}
				}

				&:after {
					content: '';
					opacity: 0;
					visibility: hidden;
					position: absolute;
					top: calc(100% - 2px);
					left: 0;
					width: 100%;
					height: 4px;
					background-color: #f69322;
					@include transition(opacity, visibility);
				}

				p {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 30px;
					height: 30px;
					margin-right: 10px;
					border: 1px solid #663399;
					border-radius: 50%;
					background-color: #fff;
					color: #663399;
					font-size: 12px;
					font-weight: 600;
					@include transition(background-color, color);
				}

				span {
					text-transform: uppercase;
					color: #663399;
					font-size: 12px;
					font-weight: 600;
					@include adaptive(767) {
						font-size: 11px;
					}
				}
			}
		}
	}
}

// SECTION :: END
