// SECTION :: START

.blog-main {
	overflow: hidden;
	position: relative;
	background-image: url('../img/img-blog-main-bg.png');
	background-position: top right;
	background-repeat: no-repeat;
	background-size: cover;
	@include adaptive(1023) {
		background-image: none;
	}

	&.blog-main--slider {
		background-image: none;

		.blog-main {
			&__wrapper {
				padding-left: 95px;
				padding-right: 95px;
				@include adaptive(1279) {
					left: 0;
					width: 100%;
					height: 355px;

					&:after {
						background: linear-gradient(transparent, rgba(0, 0, 0, 0.68));
					}
				}
				@include adaptive(767) {
					height: 227px;
				}
			}
		}

		.swiper {
			&-slide {
				background-position: top right;
				background-repeat: no-repeat;
				background-size: cover;

				&-img {
					@extend %imageResCoverAbs;

					&--desktop {
						@include adaptive(767) {
							display: none;
						}
					}

					&--mobile {
						display: none;
						@include adaptive(767) {
							display: flex;
						}
					}
				}
			}
		}
	}

	&:after {
		content: '';
		z-index: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(transparent, rgba(0, 0, 0, 0.68));
	}

	&__btn {
		z-index: 10;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		@include adaptive(767) {
			display: none;
		}

		&--prev {
			left: 20px;
			@include adaptive(1023) {
				left: 10px;
			}

			.icon-font {
				transform: scaleX(-1);
			}
		}

		&--next {
			right: 20px;
			@include adaptive(1023) {
				right: 10px;
			}
		}

		.icon-font {
			color: rgba(#fff, 0.9);
			font-size: 50px;
		}
	}

	&__img {
		display: none;
		width: 100%;
		max-width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		@include adaptive(1023) {
			display: block;
		}
	}

	&__wrapper {
		z-index: 2;
		position: relative;
		display: flex;
		height: 355px;
		padding-left: 85px;
		@include adaptive(1279) {
			left: -15px;
			width: calc(100% + 30px);
			height: auto;
			padding-left: 0;

			&:after {
				content: '';
				z-index: 0;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: linear-gradient(transparent, rgba(0, 0, 0, 0.68));
			}
		}

		&-left {
			z-index: 2;
			position: relative;
			display: flex;
			align-items: center;
			width: 100%;
			max-width: 35%;
			@include adaptive(1023) {
				z-index: 5;
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				max-width: 100%;
				padding: 15px;
			}

			> div {
				width: 100%;
			}
		}

		&-right {}
	}

	&__label {
		font-size: 15px;
		font-weight: 700;
		text-decoration: underline;
		padding-bottom: 15px;
		color: #f3a616;
		@include adaptive(1023) {
			color: #ffffff;
			font-size: 11px;
		}
	}

	&__title {
		width: 1080px;
		font-size: 34px;
		line-height: 34px;
		padding-top: 8px;
		color: #ffffff;
		font-family: "lucida grande", tahoma, verdana, arial, sans-serif !important;
		@include adaptive(1919) {
			width: auto;
			font-size: 25px;
			line-height: 30px;
			padding-bottom: 10px;
		}
		@include adaptive(1023) {
			padding-top: 0;
			line-height: 1.5;
			font-size: 16px;
		}
	}

	&__data {
		padding-top: 20px;
		font: normal 14px Lato,'sans-serif','Zawgyi-One';
		color: #fff;
		font-weight: 600;
		@include adaptive(1023) {
			padding-top: 0;
			font-size: 10px;
		}
	}
}

// SECTION :: END
