// SECTION :: START

section#blog.blog

	.blog__wrapper
		.blog__wrapper-left

			.blog__description
				div
				div
					p.blog__description-title အမေးများပြီးစဉ်းစားရခက်တဲ့အင်တာဗျူးမေးခွန်းများ
					p.blog__description-data 11th August, 2020
					img.blog__description-img(src="img/img-blog-main-bg--mobile.jpg" alt="")

			.blog__description.blog__description--content
				div

					.blog__share
						span.blog__share-title Share
						a(href="#")
							i.icon-font.icon-twitter
						a(href="#")
							i.icon-font.icon-facebook
						a(href="#")
							i.icon-font.icon-linkedin
						a(href="#")
							i.icon-font.icon-email

				div
					p အင်တာဗျူးတစ်ခုကိုဖြေဆိုရတော့မယ်ဆိုရင် ဘယ်လောက်ပဲအတွေ့အကြုံရှိတဲ့သူဖြစ်နေပါစေ စိုးရိမ်မှုလေးတွေကတော့ရှိစမြဲပါပဲ။ ဒါပေမဲ့လည်း ပိုပြီးတော့ကြိုတင်ပြင်ဆင်ထားလေလေ အင်တာဗျူးမှာပိုပြီး စိတ်သက်သောင့်သက်သာရှိစေပါတယ်။ နောက်ပြီး အလုပ်ခေါ်ယူနေသူနဲ့ HR မန်နေဂျာကိုလည်း မိမိရဲ့အရည်အချင်းနဲ့ပတ်သက်ပြီး ပိုပြီးအထင်ကြီးလေးစားမှုကိုဖြစ်စေပါတယ်။
					p အဲဒါကြောင့် အင်တာဗျူးမှာအမေးများလေ့ရှိပြီးတော့ တစ်ခါတလေမှာစဉ်းစားရကြပ်ပြီး ဖြေရခက်ခဲစေတဲ့မေးခွန်းတွေကို ဖော်ပြပေးလိုက်ပါတယ်။

					p
						strong ၁။ ရေရှည်နဲ့ ရေတိုရည်မှန်းချက်တွေ

					p အဲဒီမေးခွန်းကိုမေးတဲ့အခါမှာတော့ သူတို့သိချင်တဲ့အဓိကအချက်က ကိုယ့်ရဲ့ရည်ရွယ်ချက်၊ ခိုင်မာတဲ့ကတိကဝတ်ဆုံးဖြတ်ချက်နဲ့ ရည်မှန်းချက်ကြီးမားမှုတွေပဲဖြစ်ပါတယ်။ သူတို့မှာလည်း အလုပ်လျှောက်ထားသူအတွက် သတ်မှတ်ထားတဲ့ရည်မှန်းချက်တွေသလို ကိုယ့်ရဲ့ရည်မှန်းချက်တွေက သူတို့နဲ့ကိုက်ညီနေသလားဆိုတာကို သိချင်ကြပါတယ်။
					p လက်ရှိအခြေအနေမှာ ကိုယ်ဟာဘယ်နေရာမှာရောက်နေလဲဆိုတာကို အရင်ဆုံးပြောပြပါ။ ကိုယ်ရည်မှန်းထားတဲ့နေရာကို လက်ရှိမှာမရောက်သေးခဲ့ရင်တောင်မှ အဆိုးမမြင်ပါနဲ။ မိမိရည်ရွယ်ထားတဲ့ပန်းတိုင်ကိုရောက်ဖို့ ဘာတွေတိုးတက်လာအောင် ရှာဖွေလုပ်ဆောင်နေသလဲဆိုတာကို အမှန်အတိုင်းဖြေပါ။ နောက်ပြီး မိမိရဲ့အဖြေကိုလျှောက်ထားထားတဲ့အလုပ်ဖော်ပြချက်တွေနဲ့ကိုက်ညီအောင် ချိတ်ဆက်ဖြေဆိုပါ။ ရေရှည်ရည်မှန်းချက်ကိုဖြေဆိုရတဲ့အခါမှာ မသေချာမှုတွေရှိနိုင်တဲ့အတွက်ကြောင့် ရေတိုပန်းတိုင်တစ်ခုကိုတော့ထားရှိပြီး ဆက်စပ်ဖြေဆိုသင့်ပါတယ်။

					p
						strong ၂။ အရင်အလုပ်နဲ့ပတ်သက်ပြီး မကြိုက်တဲ့အချက်တွေကိုမေးလာခဲ့ရင်

					p တကယ်လို့များ အရင်အလုပ်ကနေ ကောင်းသောအလုပ်ထွက်ခြင်းမျိုးနဲ့ အလုပ်ထွက်ခဲ့တာမဟုတ်ဘူးဆိုရင် ဒီမေးခွန်းဟာစဉ်းစားရကြပ်တဲ့မေးခွန်းပါ။ ဒါပေမဲ့လည်း ကိုယ့်ရဲ့ရှေ့ဆက်ရမယ့်အခွင့်အလမ်းတွေးကို အနှောက်အယှက်မဖြစ်စေဘဲ ရိုးသားစွာလဲဖြေဆိုချင်ကြပါတယ်။
					p အမှန်အတိုင်းရိုးသားစွာဖြေဆိုပါ။ ဒါပေမဲ့လည်း ကြည့်ကောင်းအောင်လို့တော့ပြောပါ။ မကောင်းတဲ့အလုပ်ကို ကောင်းတယ်ဆိုပြီးတော့လည်း ပြောစရာတော့မလိုပါဘူး။ မျှော်မှန်းထားတဲ့အလုပ်ရဲ့နယ်ပယ်တချို့ဟာ တကယ်လက်တွေ့မှာမတူညီတဲ့အတွက်ကြောင့် ကိုယ်နဲ့မကိုက်ညီတဲ့အကြောင်းကိုပြောနိုင်ပါတယ်။ အရင်အလုပ်က လုပ်ဖော်ကိုင်ဖက်နဲ့ အထက်လူကြီးတွေအကြောင်းကို မကောင်းမပြောမိပါစေနဲ့။ အရင်အလုပ်က လုပ်ငန်းတာဝန်တွေအကြောင်းကို ပြောဆိုဆွေးနွေးတဲ့အခါမှာ အဆိုးမြင်တဲ့ပုံစံနဲ့ပြောမိရင်  အခုအလုပ်အသစ်မှာလည်း ကိုယ်လုပ်ရမယ့်လုပ်ငန်းတွေက မကောင်းတဲ့ပုံစံဖြစ်သွားနိုင်ပါတယ်။

					p
						strong ဆက်လက်ဖတ်ရှှုရန် >>>
						a(href='#') “အရင်အလုပ်ကနေထွက်ပြီး ဒီအလုပ်ကိုဘာဖြစ်လို့လျှောက်ရတာလဲ” လို့မေးခဲ့ရင်

					img.blog__description-img(src="img/img-blog-main-bg--mobile.jpg" alt="")

					p
						strong ၃။ လစာဆွေးနွေးညှိနှိုင်းတဲ့အခါ

					p ကိုယ့်ရဲ့မျှော်မှန်းလစာနဲ့ တကယ်ထိုက်သင့်တဲ့လစာကိုဆွေးနွေးတဲ့အခါမှာ နည်းဗျူဟာကိုစဉ်းစားဖို့ အရမ်းအရေးကြီးပါတယ်။
					p!= "ပျမ်းမျှလစာတွေကိုလေ့လာစုံစမ်းပါ။ လစာဆိုတာ တည်နေရာ၊ ပညာအရည်အချင်း၊ အလုပ်အတွေ့အကြုံနဲ့ ကုမ္ပဏီကသုံးမယ့်ငွေကြေးပမာဏ အစရှိတာတွေတဲ့အကြောင်းအရင်းတွေအပေါ်မူတည်ပြီး ပြောင်းလဲပါတယ်။ အဲဒါကြောင့် ပြည်တွင်းနဲ့နိုင်ငံတကာကုမ္ပဏီတွေက ခေါ်ယူနေတဲ့လစာနှုန်းထားတွေကိုသေချာလေ့လာသင့်ပါတယ်။ မြန်မာနိုင်ငံမှာရှိတဲ့ပြည်တွင်းနဲ့ နိုင်ငံတကာကလစာနှုန်းထားတွေကိုလေ့လာချင်ရင် <a href='#'>www.jobnet.com.mm</a> မှာခေါ်ယူနေတဲ့အလုပ်ကြော်ငြာစာတွေကနေ လေ့လာနိုင်ပါတယ်။ လစာပြောတဲ့အခါမှာ အနည်းဆုံးဘယ်လောက်နဲ့ အများဆုံးဘယ်လောက်ကြားဆိုတဲ့ကြားပမာဏကို သေချာလေးခွာပြီးပြောပေးပါ။"

					p
						strong ဆက်လက်ဖတ်ရှုရန် >>>
						a(href='#') အလုပ်အင်တာဗျူးမှာ မျှော်မှန်းလစာနဲ့ပတ်သက်ပြီး ဘယ်လိုညှိနှိုင်းမလဲ

					p
						strong ၄။ အလုပ်တစ်ခုကနေ တစ်ခုကိုပြောင်းတဲ့ကြားကာလတွေကြားမေးခဲ့ရင်

					p ဒီနေ့ခေတ်မှာ အလုပ်တစ်ခုကနေနောက်အလုပ်တစ်ခုကိုပြောင်းတဲ့ကြားကာလတွေဟာ ဖြစ်ရိုးဖြစ်စဉ်တစ်ခုပါပဲ။ မိသားစုအရေးကိစ္စကြောင့် အလုပ်ကနေခဏနားရတဲ့အကြောင်းတွေရှိသလို ပညာရေးကြောင့်လဲဖြစ်နိုင်ပါတယ်။ ထို့အပြင် ယခု ၂၀၂၀ ခုနှစ်အစပိုင်းမှစပြီး မြန်မာနိုင်ငံမှာတွင်သာမက နိုင်ငံတကာမှာပါဖြစ်ပွားခဲ့တဲ့ကျန်းမာပြဿနာနဲ့ စီးပွားရေးအကြပ်အတည်းတွေကြောင့် ဝန်ထမ်းအများစုဟာအလုပ်ရပ်နားမှုတွေနဲ့ကြုံတွေ့ခဲ့ရပါတယ်။ အဲဒီလို အလုပ်အကိုင်အခက်အခဲနဲ့ကြံုတွေ့ခဲ့ရတဲ့ဝန်ထမ်းတွေထဲမှာ မိမိအနေနဲ့ပါဝင်ခဲ့တယ်ဆိုရင်လည်း ဒါနဲ့ပတ်သက်ပြီးစိတ်အနှောက်အယှက်ဖြစ်နေစရာမလိုပါဘူး။ HR လုပ်ငန်းနယ်ပယ်ရှိတဲ့သူအများစုကလည်း အဲဒီအခက်အခဲအကြပ်အတည်းတွေနဲ့ပတ်သက်ပြီး သိရှိပြီးသားဖြစ်ပါတယ်။
					p အဲဒါကြောင့် အလုပ်ပြောင်းတဲ့ကြားကာလတွေနဲ့ပတ်သက်ပြီးမေးလာခဲ့ရင် အမှန်အတိုင်းသာဖြေဆိုပါ။ ပြီးရင် အဲဒီအချိန်ကြားပိုင်းတွေမှာ ကိုယ်ဘာတွေလေ့လာခဲ့သလဲ ကိုယ့်ကိုယ်ကိုဘယ်လိုတွေတိုးတက်အောင် လုပ်ဆောင်ခဲ့သလဲဆိုတာကိုထည့်သွင်းပြောဆိုပါ။
					p အခုဆိုရင်လည်း မြန်မာနိုင်ငံမှာရှိတဲ့စီးပွားရေးလုပ်ငန်းတွေဟာ လက်ရှိမှာဖြစ်ပွားနေတဲ့ကျန်းမာရေးပြဿနာတွေကို သေချာကာကွယ်ဂရုစိုက်ပြီး လုပ်ငန်းတွေပြန်လည်လည်ပတ်နေပါပြီ။ အဲဒီအတွက်ကြောင့် တချို့စီးပွားရေးလုပ်ငန်းနယ်ပယ်နဲ့ ကုမ္ပဏီတွေမှာအလုပ်ခေါ်ယူမှုတွေကို ပြန်လည်ပြုလုပ်နေကြပါတယ်။ လတ်တလောမှာ အလုပ်ခေါ်ယူမှုတွေပြုလုပ်နေတဲ့ကုမ္ပဏီတွေကိုလေ့လာချင်တယ်ဆိုရင် ဒီနေရာမှာ ဝင်ရောက်လေ့လာနိုင်ပါတယ်။
					p အလုပ်အင်တာဗျူးတစ်ခုကိုပြင်ဆင်ရတာဟာလဲ ထိရောက်မှုရှိတဲ့ CV တစ်စောင်ရေးရသလိုပဲ စိတ်ဖိစီးမှုတွေရှိပါတယ်။ အဲဒါကြောင့် အထက်မှာဖော်ပြပေးခဲ့တဲ့အချက်တွေဟာ မိမိရဲ့အလုပ်အင်တာဗျူးမှာအထောက်အကူပြုပေးနိုင်မယ်လို့ ထင်ပါတယ်။ အားလုံးပဲ မိမိတို့ရည်ရွယ်ထားတဲ့အလုပ်အကိုင်ပန်းတိုင်ကို အောင်မြင်စွာရောက်ရှိနိုင်ကြလိမ့်မယ်လို့ မျှော်လင့်ပါတယ်။

					p
						strong ဆက်လက်ဖတ်ရှုရန် >>>
						a(href='#') အရင်အလုပ်ကနေရပ်ဆိုင်းခံရတဲ့အကြောင်း အင်တာဗျူးမှာမေးလာခဲ့ရင်
					p
						strong ဆက်လက်ဖတ်ရှုရန် >>>
						a(href='#') အင်တာဗျူးမှာ HR နဲ့အလုပ်ရှင်တွေပြောလေ့ရှိတဲ့စကားတွေရဲ့ ဆိုလိုရင်းကဘာလဲ

					.blog__topics
						.blog__topics-body
							a(href="#") Job Search

					.blog__comment
						.fb-comments.fb_iframe_widget.fb_iframe_widget_fluid_desktop(data-href='https://www.jobnet.com.mm/blog/job-search/အေမးမ်ားၿပီးစဥ္းစားရခက္တဲ့အင္တာဗ်ဴးေမးခြန္းမ်ား', data-numposts='2', data-order-by='reverse_time', data-width='100%', fb-xfbml-state='rendered', fb-iframe-plugin-query='app_id=819222294852232&container_width=1094&height=100&href=https%3A%2F%2Fwww.jobnet.com.mm%2Fblog%2Fjob-search%2F%25E1%2580%25A1%25E1%2580%25B1%25E1%2580%2599%25E1%2580%25B8%25E1%2580%2599%25E1%2580%25BA%25E1%2580%25AC%25E1%2580%25B8%25E1%2581%25BF%25E1%2580%2595%25E1%2580%25AE%25E1%2580%25B8%25E1%2580%2585%25E1%2580%25A5%25E1%2580%25B9%25E1%2580%25B8%25E1%2580%2585%25E1%2580%25AC%25E1%2580%25B8%25E1%2580%259B%25E1%2580%2581%25E1%2580%2580%25E1%2580%25B9%25E1%2580%2590%25E1%2580%25B2%25E1%2580%25B7%25E1%2580%25A1%25E1%2580%2584%25E1%2580%25B9%25E1%2580%2590%25E1%2580%25AC%25E1%2580%2597%25E1%2580%25BA%25E1%2580%25B4%25E1%2580%25B8%25E1%2580%25B1%25E1%2580%2599%25E1%2580%25B8%25E1%2580%2581%25E1%2580%25BC%25E1%2580%2594%25E1%2580%25B9%25E1%2580%25B8%25E1%2580%2599%25E1%2580%25BA%25E1%2580%25AC%25E1%2580%25B8&locale=en_US&numposts=2&order_by=reverse_time&sdk=joey&version=v2.9&width=', style='width: 100%;')
							span(style='vertical-align: bottom; width: 100%; height: 179px;')
								iframe(name='f204e6132cfbaf', width='1000px', height='100px', data-testid='fb:comments Facebook Social Plugin', title='fb:comments Facebook Social Plugin', frameborder='0', allowtransparency='true', allowfullscreen='true', scrolling='no', allow='encrypted-media', src='https://www.facebook.com/v2.9/plugins/comments.php?app_id=819222294852232&channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df19c78bba5c4194%26domain%3Dwww.jobnet.com.mm%26origin%3Dhttps%253A%252F%252Fwww.jobnet.com.mm%252Ff20ee2b62bcdcac%26relation%3Dparent.parent&container_width=1094&height=100&href=https%3A%2F%2Fwww.jobnet.com.mm%2Fblog%2Fjob-search%2F%25E1%2580%25A1%25E1%2580%25B1%25E1%2580%2599%25E1%2580%25B8%25E1%2580%2599%25E1%2580%25BA%25E1%2580%25AC%25E1%2580%25B8%25E1%2581%25BF%25E1%2580%2595%25E1%2580%25AE%25E1%2580%25B8%25E1%2580%2585%25E1%2580%25A5%25E1%2580%25B9%25E1%2580%25B8%25E1%2580%2585%25E1%2580%25AC%25E1%2580%25B8%25E1%2580%259B%25E1%2580%2581%25E1%2580%2580%25E1%2580%25B9%25E1%2580%2590%25E1%2580%25B2%25E1%2580%25B7%25E1%2580%25A1%25E1%2580%2584%25E1%2580%25B9%25E1%2580%2590%25E1%2580%25AC%25E1%2580%2597%25E1%2580%25BA%25E1%2580%25B4%25E1%2580%25B8%25E1%2580%25B1%25E1%2580%2599%25E1%2580%25B8%25E1%2580%2581%25E1%2580%25BC%25E1%2580%2594%25E1%2580%25B9%25E1%2580%25B8%25E1%2580%2599%25E1%2580%25BA%25E1%2580%25AC%25E1%2580%25B8&locale=en_US&numposts=2&order_by=reverse_time&sdk=joey&version=v2.9&width=', style='border: none; visibility: visible; width: 100%; height: 179px;')


		.blog__wrapper-right

			.blog__social
				p.blog__social-title Social Media:
				div
					a.blog__social-link.blog__social-link--facebook(href="https://www.facebook.com/sharer/sharer.php?u=https://www.jobnet.com.mm/blog/")
						i.icon-font.icon-facebook-circle
					a.blog__social-link.blog__social-link--linkedin(href="https://www.linkedin.com/shareArticle?mini=true&url=https://www.jobnet.com.mm/blog/&title=")
						i.icon-font.icon-linkedin-circle
					a.blog__social-link.blog__social-link--twitter(href="https://twitter.com/share?text=&url=https://www.jobnet.com.mm/blog/")
						i.icon-font.icon-twitter-circle
					a.blog__social-link.blog__social-link--google-plus(href="https://plus.google.com/share?text=&url=https://www.jobnet.com.mm/blog/")
						i.icon-font.icon-google-plus-circle

			.blog__recent
				.blog__recent-head
					div
						p Recent Posts
					div
					a(href="#") News All

				.blog__recent-body

					each val, idx in [1,2,3,4,5]
						a.blog__recent-link(href="#" title='')
							div
								img(src="img/img-blog-main-bg--mobile.jpg" alt="")
							div
								p နယ်ပယ်တစ်ခုတည်းမှာပဲကျွမ်းကျင်တဲ့သူတွေက အနာဂတ်မှာအလုပ်ရဖို့လွယ်ပါမလား
								span 6th August, 2020

					.blog__paginational
						a.blog__paginational-link.blog__paginational-link--first(href="#")
							i.icon-font.icon-double-arrows
						a.blog__paginational-link.blog__paginational-link--prev(href="#")
							i.icon-font.icon-keyboard-arrow-down
						a.blog__paginational-link.is-active(href="#") 1
						a.blog__paginational-link(href="#") 2
						a.blog__paginational-link(href="#") 3
						a.blog__paginational-link(href="#") ...
						a.blog__paginational-link.blog__paginational-link--next(href="#")
							i.icon-font.icon-keyboard-arrow-down
						a.blog__paginational-link.blog__paginational-link--last(href="#")
							i.icon-font.icon-double-arrows

			.blog__topics
				.blog__topics-head
					p Hot topics

				.blog__topics-body
					a(href="#") Career Advice
					a(href="#") Companies Hiring
					a(href="#") Job Fairs
					a(href="#") Job Search

			.blog__employers
				.blog__employers-head
					p Top EMPLOYERS

				.blog__employers-body
					a(href="#")
						img(src="img/img-employers-ooredoo.png" alt="")
					a(href="#")
						img(src="img/img-employers-kbz-bank.png" alt="")
					a(href="#")
						img(src="img/img-employers-cdsg.png" alt="")
					a(href="#")
						img(src="img/img-employers-prudential.png" alt="")
					a(href="#")
						img(src="img/img-employers-jotun-myanmar.jpg" alt="")
					a(href="#")
						img(src="img/img-employers-unilever.png" alt="")

// SECTION :: END
