// SECTION :: START

section#applications-update.applications-update
	.c-grid
		.applications-update__wrapper

			.applications-update__wrapper-left
				i.icon-font.icon-information

			.applications-update__wrapper-middle
				span Update your Profile
				p Update your Profile to get a higher chance of Job Offers from Employers!

			.applications-update__wrapper-right
				.c-btn__wrapper
					a.c-btn.c-btn--orange(href="#")
						span Update My Profile

// SECTION :: END
