// SECTION :: START

section#benefits.benefits
	.c-grid

		.benefits__box-wrapper
			div
				.benefits__box.benefits__box-1.fade
					div
						div
							div
								| 750,000+
							div
							div
								span Myanmar Professionals visit JobNet every month
			div
				.benefits__box.benefits__box-2.fade
					div
						div
							div
								| 500,000+
							div
							div
								span Access our Candidate Database to find the Talent you need
			div
				.benefits__box.benefits__box-3.fade
					div
						div
							div
								| Grade A +
							div
							div
								span Effective, Collaborative, Online Recruitment Software

		.benefits__pagination
			i(data-id='1').is-active
			i(data-id='2')
			i(data-id='3')

// SECTION :: END
