// SECTION :: START

section#build.build
	.c-grid

		p.build__title Build your Top Employer Brand

		.build__wrapper
			.build__wrapper-left

				p.build__desc Stand-out with a JobNet Premium Company profile
				ul.build__list
					li
						div
							i.icon-font.icon-circle-check
						div
							p Be found by over 750,000 visitors every month
					li
						div
							i.icon-font.icon-circle-check
						div
							p Stand-out and become Myanmar's top Employer of Choice
					li
						div
							i.icon-font.icon-circle-check
						div
							p Use powerful Employer branding Products to attract the best talent

			.build__wrapper-right
				img(src="img/img-employers-build.png" alt="")

// SECTION :: END
