// SECTION :: START

section#build.build.build--1
	.c-grid

		.build__wrapper.build__wrapper--reverse
			.build__wrapper-left

				p.build__desc Get access to Myanmar's largest CV Database
				ul.build__list
					li
						div
							i.icon-font.icon-circle-check
						div
							p Over 500,000+ candidates can be searched
					li
						div
							i.icon-font.icon-circle-check
						div
							p Candidates from multiple Job Function categories
					li
						div
							i.icon-font.icon-circle-check
						div
							p View candidates CV and contact details instantly

			.build__wrapper-right
				img(src="img/img-employers-build-1.png" alt="")

// SECTION :: END
