// SECTION :: START

section#build.build.build--2
	.c-grid

		.build__wrapper
			.build__wrapper-left

				p.build__desc Myanmar's Trusted Online Salary Survey
				ul.build__list
					li
						div
							i.icon-font.icon-circle-check
						div
							p Over 100+ top companies
					li
						div
							i.icon-font.icon-circle-check
						div
							p 34 different Industries
					li
						div
							i.icon-font.icon-circle-check
						div
							p 21 Job function categories
					li
						.c-btn__wrapper
							a.c-btn.c-btn--borderGreen(href="#")
								span Request Demo
							a.c-btn.c-btn--borderOrange(href="#")
								span Learn More

			.build__wrapper-right
				img(src="img/img-employers-build-2.png" alt="")

// SECTION :: END
