// SECTION :: START

section#get.get
	.c-grid
		.get__wrapper

			p.get__title Get in Touch

			p.get__desc Find out how to search, hire fast and manage great talent!
			p.get__desc We can meet at your office or ours, or simply
			p.get__desc call or email us at

			p.get__info Sales@JobNet.com.mm +95 (0) 9 9544 591 77

			.c-btn__wrapper
				a.c-btn.c-btn--orange(href="/employers-signup.html")
					span Get Started

// SECTION :: END
