// SECTION :: START

section#employers-main.employers-main

	.employers-main__wrapper
		.employers-main__wrapper-left

			p.employers-main__title BE SEEN, FIND TALENT FAST
			.employers-main__divider.employers-main__divider-1
			p.employers-main__sep With
			p.employers-main__subtitle Number #1
			p.employers-main__desc Online Recruitment & Talent Management
			p.employers-main__desc Solutions In Myanmar

			.c-btn__wrapper
				a.c-btn.c-btn--borderWhite(href="#")
					span Get Started
				a.c-btn.c-btn--orange(href="#")
					span Buy Now

			.employers-main__divider.employers-main__divider-2
			p.employers-main__sep OR
			p.employers-main__call!= "Call us Now on <a href='#'>+95 (0) 9 9544 591 77</a>"

		.employers-main__wrapper-right(style='background-image:url("../img/img-employers-main-bg.jpg")')
			img(src="img/img-employers-main-bg--mobile.jpg" alt="")

// SECTION :: END
