// SECTION :: START

section#trusted.trusted

	p.trusted__title Trusted by 1000+ top Myanmar Companies

	.c-grid-fluid
		.trusted__wrapper
			div
				img(src="img/img-employers-ooredoo.png" alt="")
			div
				img(src="img/img-employers-kbz-bank.png" alt="")
			div
				img(src="img/img-employers-cdsg.png" alt="")
			div
				img(src="img/img-employers-prudential.png" alt="")
			div
				img(src="img/img-employers-jotun-myanmar.jpg" alt="")
			div
				img(src="img/img-employers-unilever.png" alt="")

		.c-btn__wrapper
			a.c-btn.c-btn--orange(href="/employers-signup.html")
				span Get Started

// SECTION :: END
