// SECTION :: START

section#about.about

	.about__wrapper
		.about__wrapper-left
			p.about__title Office:

			p.about__address Level 5, 85 Dhammazedi Road, (Corner of U Wisara Road), Sanchaung Township, Yangon, Myanmar

			table
				tbody
					tr
						td
							b New Clients Sales (T):
						td
							b 099 544 591 77
					tr
						td New Clients Sales (E):
						td
							a(href='mailto:sales@jobnet.com.mm') sales@jobnet.com.mm

			a.about__link(href="#") Terms and Conditions

			.about__map
				iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3819.44001071859!2d96.13985841531722!3d16.804513723775194!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30c1eb44cad74613%3A0x6be4485dc529f46f!2sJobNet.com.mm!5e0!3m2!1sru!2sua!4v1532016741134', width='100%', height='450', frameborder='0', style='border: 0', allowfullscreen='')

		.about__wrapper-right
			p.about__title About Us

			.about__content
				p
					a(href='/') JobNet.com.mm
					|  is Myanmar's most widely used online professional job site and digital recruitment platform which effectively matches employers with the most suitable candidates to fill their jobs. In addition, JobNet delivers advanced online recruitment software modules, aimed at helping organizations digitize their recruitment function, save time and reduce cost to hire. JobNet further supports the advancement of Myanmar’s human resources community, hosting an annual calendar of career conferences and educational seminars. Since 2017, the company is also the founding sponsor of the annual Myanmar Employer Awards that encourage and recognize best practices in human resource management.
				p
					| More information on:
					a(href='https://www.myanmaremployerawards.com/') https://www.myanmaremployerawards.com/
				p
					| In 2020, JobNet launched the Best Companies to Work in Myanmar (BCIM) program, recognizing Myanmar's best companies for employee engagement levels.
				p
					| More information on:
					a(href='https://www.bcimyanmar.com/') https://www.bcimyanmar.com/
				p
					| Follow us on our amazing journey, and don’t forget to register an account with us as we regularly share exclusive content to our subscribers.

				ul.about__social
					li
						a(target='_blank', href='https://www.facebook.com/jobnet.com.mm')
							img(src='https://cdn.jobnet.com.mm/Employer/img/facebooksquare.png')
					li
						a(target='_blank', href='https://www.linkedin.com/company/6584040?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A6584040%2Cidx%3A2-2-3%2CtarId%3A1482739216217%2Ctas%3AJobNet', title='')
							img(src='https://cdn.jobnet.com.mm/Employer/img/linkedinsquare.png')

				br
				p
					| For more information or requests, feel free to drop us a note and we will get back to you as soon as we can.
				p
					| If you are a job seeker :
					a(href='mailto:info@jobnet.com.mm') info@jobnet.com.mm
				p
					| If you are a company:
					a(href='mailto:sales@jobnet.com.mm') sales@jobnet.com.mm

// SECTION :: END
