// SECTION :: START

section#banner.banner
	.banner__wrapper.banner__wrapper-1
		img(src="img/img-banner-1.gif" alt="")
	.banner__wrapper.banner__wrapper-2
		img(src="img/img-banner-2.jpg" alt="")

// SECTION :: END
