// SECTION :: START

section#banner.banner
	.banner__wrapper.banner__wrapper-1
		a(href="#")
			img.banner__img.banner__img--desktop(src="img/img-banner-1.gif" alt="")
			img.banner__img.banner__img--mobile(src="img/img-banner-1--mobile.gif" alt="")
	.banner__wrapper.banner__wrapper-2
		a(href="#")
			img.banner__img.banner__img--desktop(src="img/img-banner-2.jpg" alt="")
			img.banner__img.banner__img--mobile(src="img/img-banner-2--mobile.jpg" alt="")

// SECTION :: END
