// SECTION :: START

section#category.category
	.c-grid
		.category__wrapper.category__wrapper-1

			p.category__title.c-title Popular Industries

			.category__box-wrapper
				div
					a.category__box.category__box-1(href="#")
						.category__box-head
							i.icon-font.icon-home
						.category__box-body
							p Insurance/Pensions
				div
					a.category__box.category__box-2(href="#")
						.category__box-head
							i.icon-font.icon-bank
						.category__box-body
							p Banking/Financial Services/Microfinance
				div
					a.category__box.category__box-3(href="#")
						.category__box-head
							i.icon-font.icon-cost
						.category__box-body
							p Trading/Distribution/Import/Export
				div
					a.category__box.category__box-4(href="#")
						.category__box-head
							i.icon-font.icon-office-building
						.category__box-body
							p Construction/Building/Architecture
				div
					a.category__box.category__box-5(href="#")
						.category__box-head
							i.icon-font.icon-antenna
						.category__box-body
							p Telecommunications
				div
					a.category__box.category__box-6(href="#")
						.category__box-head
							i.icon-font.icon-shopping-bag
						.category__box-body
							p FMCG
				div
					a.category__box.category__box-7(href="#")
						.category__box-head
							i.icon-font.icon-programming
						.category__box-body
							p IT/Computer
				div
					a.category__box.category__box-8(href="#")
						.category__box-head
							i.icon-font.icon-factory
						.category__box-body
							p Manufacturing

// SECTION :: END
