// SECTION :: START

section#details.details
	.c-grid
		.details__container
			.details__header
				.details__header-left
					p companies
				.details__header-middle
					i.icon-font.icon-star
					i.icon-font.icon-star
					p top jobs
					i.icon-font.icon-star
					i.icon-font.icon-star
				.details__header-right
					p leading employers

			.details__wrapper
				.details__wrapper-left
					.details__wrapper-header.details__wrapper-header-1
						p companies
					.details__wrapper-scroll.details__wrapper-scroll-1
						each val, idx in [1,2,3,4,5]
							div
								a(href="#")
									img(src="img/img-employers-ooredoo.png" alt="")
							div
								a(href="#")
									img(src="img/img-employers-kbz-bank.png" alt="")
							div
								a(href="#")
									img(src="img/img-employers-cdsg.png" alt="")
							div
								a(href="#")
									img(src="img/img-employers-prudential.png" alt="")
							div
								a(href="#")
									img(src="img/img-employers-jotun-myanmar.jpg" alt="")
							div
								a(href="#")
									img(src="img/img-employers-unilever.png" alt="")
				.details__wrapper-middle
					.details__wrapper-header.details__wrapper-header-2
						i.icon-font.icon-star
						i.icon-font.icon-star
						p top jobs
						i.icon-font.icon-star
						i.icon-font.icon-star

					.details__wrapper-scroll.details__wrapper-scroll-3
						.carousel-item-content
							each val, idx in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30]
								div
									a(href="#")
										p Financial Services Consultant(Monywa/Pyinma Nar)
										span Prudential Myanmar

				.details__wrapper-right
					.details__wrapper-header.details__wrapper-header-3
						p leading employers
					.details__wrapper-scroll.details__wrapper-scroll-2
						each val, idx in [1,2,3,4]
							div
								a(href="#")
									img(src="img/img-employers-ooredoo.png" alt="")
							div
								a(href="#")
									img(src="img/img-employers-kbz-bank.png" alt="")
							div
								a(href="#")
									img(src="img/img-employers-cdsg.png" alt="")
							div
								a(href="#")
									img(src="img/img-employers-prudential.png" alt="")
							div
								a(href="#")
									img(src="img/img-employers-jotun-myanmar.jpg" alt="")
							div
								a(href="#")
									img(src="img/img-employers-unilever.png" alt="")


// SECTION :: END
