// SECTION :: START

section#details.details
	.c-grid
		.details__container
			.details__header
				.details__header-left
					p companies
				.details__header-middle
					i.icon-font.icon-star
					i.icon-font.icon-star
					p top jobs
					i.icon-font.icon-star
					i.icon-font.icon-star
				.details__header-right
					p leading employers

			.details__wrapper
				.details__wrapper-left
					.details__wrapper-scroll.details__wrapper-scroll-1
						each val, idx in [1,2,3,4,5]
							div
								a(href="#")
									img(src="img/img-employers-ooredoo.png" alt="")
							div
								a(href="#")
									img(src="img/img-employers-kbz-bank.png" alt="")
							div
								a(href="#")
									img(src="img/img-employers-cdsg.png" alt="")
							div
								a(href="#")
									img(src="img/img-employers-prudential.png" alt="")
							div
								a(href="#")
									img(src="img/img-employers-jotun-myanmar.jpg" alt="")
							div
								a(href="#")
									img(src="img/img-employers-unilever.png" alt="")
				.details__wrapper-middle

					#sliderDetails.carousel.slide(data-ride='carousel' data-interval="10000")
						ol.carousel-indicators
							li.active(data-target='#sliderDetails', data-slide-to='0')
							li(data-target='#sliderDetails', data-slide-to='1')
							li(data-target='#sliderDetails', data-slide-to='2')
						.carousel-inner
							.carousel-item.active
								.carousel-item-content
									each val, idx in [1,2,3,4,5,6,7,8,9,10,11,12,13,14]
										div
											a(href="#")
												p Financial Services Consultant(Monywa/Pyinma Nar)
												span Prudential Myanmar
							.carousel-item
								.carousel-item-content
									each val, idx in [1,2,3,4,5,6,7,8,9,10,11,12,13,14]
										div
											a(href="#")
												p Financial Services Consultant(Monywa/Pyinma Nar)
												span Prudential Myanmar
							.carousel-item
								.carousel-item-content
									each val, idx in [1,2,3,4,5,6,7,8,9,10,11,12,13,14]
										div
											a(href="#")
												p Financial Services Consultant(Monywa/Pyinma Nar)
												span Prudential Myanmar

				.details__wrapper-right
					.details__wrapper-scroll.details__wrapper-scroll-2
						each val, idx in [1,2,3,4,5]
							div
								a(href="#")
									img(src="img/img-employers-ooredoo.png" alt="")
							div
								a(href="#")
									img(src="img/img-employers-kbz-bank.png" alt="")
							div
								a(href="#")
									img(src="img/img-employers-cdsg.png" alt="")
							div
								a(href="#")
									img(src="img/img-employers-prudential.png" alt="")
							div
								a(href="#")
									img(src="img/img-employers-jotun-myanmar.jpg" alt="")
							div
								a(href="#")
									img(src="img/img-employers-unilever.png" alt="")


// SECTION :: END
