// SECTION :: START

section#employers.employers
	.c-grid

		p.employers__title.c-title Top Employers

		.employers__wrapper
			div
				a.employers__box(href="#")
					.employers__box-head
						img(src="img/img-employers-ooredoo.png" alt="")
					.employers__box-body
						p Ooredoo Myanmar
			div
				a.employers__box(href="#")
					.employers__box-head
						img(src="img/img-employers-kbz-bank.png" alt="")
					.employers__box-body
						p KBZ Bank
			div
				a.employers__box(href="#")
					.employers__box-head
						img(src="img/img-employers-cdsg.png" alt="")
					.employers__box-body
						p Capital Diamond Star Group
			div
				a.employers__box(href="#")
					.employers__box-head
						img(src="img/img-employers-prudential.png" alt="")
					.employers__box-body
						p Prudential Myanmar
			div
				a.employers__box(href="#")
					.employers__box-head
						img(src="img/img-employers-jotun-myanmar.jpg" alt="")
					.employers__box-body
						p Jotun Myanmar
			div
				a.employers__box(href="#")
					.employers__box-head
						img(src="img/img-employers-unilever.png" alt="")
					.employers__box-body
						p Unilever Myanmar Group

// SECTION :: END
