// SECTION :: START

section#looking.looking
	.c-grid
		.looking__wrapper
			.looking__wrapper-left
				div
					p.looking__title Looking to work in Myanmar?
					p.looking__subtitle Search JobNet's Repat & Expat Jobs

			.looking__wrapper-right

				.looking__btn.c-btn__wrapper
					a.c-btn.c-btn--green(href="#")
						span Repat Jobs
					a.c-btn.c-btn--white(href="#")
						span Expat Jobs

// SECTION :: END
