// SECTION :: START

section#positions.positions
	.c-grid
		.positions__wrapper.positions__wrapper-1

			.positions__banner
				p Popular Positions

		.positions__wrapper.positions__wrapper-2

			ul.positions__list
				-
					const positionArr = [
						'account',
						'Account Analyst',
						'account assistance',
						'Account Assistant',
						'Accountant',
						'Admin',
						'Admin Assistant',
						'Admin Executive',
						'Admin Manager',
						'android developer',
						'Architect',
						'Assistant Accountant',
						'assistant manager',
						'Auditor',
						'Bank Accountant',
						'Cashier',
						'Chef',
						'Chief Accountant',
						'civil construction Engineer',
						'civil engineer',
						'Customer Service',
						'Designer',
						'Developer',
						'Director',
						'Drafter',
						'Driver',
						'Electrical Assistant Engineer',
						'Electrical Engineer',
						'Engineer',
						'engineer autocad',
						'Engineer Construction',
						'engineering',
						'English Teacher',
						'Executive Chef',
						'finance account',
						'Finance Manager',
						'General Manager',
						'Graphic Designer',
						'HR Admin',
						'HR Admin Assistant',
						'HR Admin Assistant Manager',
						'HR Admin Staff',
						'HR Assistant',
						'HR Executive',
						'HR Manager',
						'HR Staff',
						'Interior Designer',
						'IT Administrator',
						'IT Assistant',
						'IT Manager',
						'Java Developer',
						'junior account',
						'junior accountant',
						'Junior engineer',
						'Lawyer',
						'manager',
						'marketing',
						'Marketing Assistant',
						'Marketing Executive',
						'Marketing Manager',
						'Mechanic Engineer',
						'Mechanical Engineer',
						'Myanmar Language Teacher',
						'Network Assistant',
						'Network Engineer',
						'Nurse',
						'Office Admin',
						'Office Assistant',
						'Office Staff',
						'Operations Manager',
						'personal assistant',
						'php developer',
						'Programmer',
						'Project Manager',
						'QS Engineer',
						'quantity surveyor',
						'receptionist',
						'Safety Officer',
						'Sale Supervisor',
						'sales',
						'Sales Engineer',
						'Sales Executive',
						'Sales Manager',
						'secretary',
						'security',
						'Senior Accountant',
						'Service engineer',
						'Site Engineer',
						'site engineer civil',
						'site engineer construction',
						'Software Developer',
						'Supervisor',
						'Surveyor',
						'Teacher',
						'Telecom Coordinator',
						'Telecom Engineer',
						'Translator',
						'Video Editor',
						'Waiter',
						'Web Designer',
						'Web Developer',
					];
				-for(let idx = 0; idx < positionArr.length; idx++)
					li
						a(href="#")
							i
							span!= positionArr[idx]

// SECTION :: END
