// SECTION :: START

section#positions.positions
	.c-grid
		.positions__wrapper.positions__wrapper-1

			.positions__banner
				p Popular Positions

		.positions__wrapper.positions__wrapper-2

			ul.positions__list
				-for(let idx = 0; idx < 101; idx++)
					li
						a(href="#")
							i
							span Account

// SECTION :: END
