.job-details__card.job-details__card--sticky(jd-main-js)
	.job-details__card-left

	.job-details__card-right

		.job-details__card-header
			div

				p.job-details__card-title Operational Risk Manager
				a.job-details__card-subtitle(href="#") Maha Agriculture Microfinance

			div

	.job-details__card-footer
		div
			div
				i.icon-font.icon-pin
				span Myanmar - Yangon

		div
			a.job-details__card-login(href="#")
				i.icon-font.icon-dollar-symbol
				span Login to view Salary

	.job-details__card-action
		.c-btn__wrapper
			a.c-btn.c-btn--purple(href="#")
				span Apply Now
