.job-details__card
	.job-details__card-left

		.job-details__card-logo
			img(src="img/img-employers-kbz-bank.png" alt="")

	.job-details__card-right

		.job-details__card-header
			div
				p.job-details__card-title Operational Risk Manager
				a.job-details__card-subtitle(href="#") Maha Agriculture Microfinance
			div
				a.job-details__card-login(href="#")
					i.icon-font.icon-dollar-symbol
					span Login to view Salary

		.job-details__card-body
			div
				i.icon-font.icon-pin
				span Myanmar - Yangon
			div
				i.icon-font.icon-clock
				span Full Time
			div
				i.icon-font.icon-calendar
				span 4 days ago
