a.job-details__hero(href="#")
	.job-details__hero-left

		.job-details__hero-logo
			img(src="img/img-employers-kbz-bank.png" alt="")

	.job-details__hero-right
		p Maha Agriculture Microfinance
		span 51-100 | Yangon
		u 16 Open Jobs
