.job-details__option.job-details__option--tablet
	.job-details__option-wrapper
		div

		div

			p.job-details__option-social-title Share with a Friend

			.job-details__option-social-wrapper
				a.job-details__option-social.job-details__option-social--facebook(href="#")
					i.icon-font.icon-facebook
				a.job-details__option-social.job-details__option-social--linkedin(href="#")
					i.icon-font.icon-linkedin
