.job-details__option
	.job-details__option-more
		a(href="#")
			i.icon-font.icon-fast-forward
			span More jobs from this employer

	.job-details__option-wrapper
		div

			.c-btn__wrapper
				a.c-btn.c-btn--orange(href="#job-details" anchor-js)
					span Apply Now

				.job-details__option-social-wrapper
					a.job-details__option-social(href="#")
						i.icon-font.icon-printer

		div

			.job-details__option-social-wrapper
				a.job-details__option-social.job-details__option-social--facebook(href="#")
					i.icon-font.icon-facebook
				a.job-details__option-social.job-details__option-social--linkedin(href="#")
					i.icon-font.icon-linkedin
