// SECTION :: START

section#job-details.job-details

	include _job-details--banner

	.c-grid
		.job-details__wrapper
			.job-details__wrapper-left

				include _job-details--card-sticky

				include _job-details--card

				include _job-details--showing-tablet

				include _job-details--description

				include _job-details--offer

				include _job-details--description-about

				include _job-details--option

			.job-details__wrapper-right

				include _job-details--apply

				include _job-details--showing

				include _job-details--similar

				include _job-details--option-tablet

// SECTION :: END
