.job-details__description
	.job-details__description-wrapper.job-details__description-wrapper-1
		p.job-details__description-title About Our Company

		.job-details__description-contant
			p We assist candidates to build and manage their careers, by placing them at employers of choice.
			p Assisting clients in their recruitment process, we help them to grow their businesses and meeting their strategic objectives.
			p Our relationships with both our clients and candidates are nurtured through our team of Consultants and Managers. Besides enhancing the candidate experience and ensuring client return on investment, this strategy contributes to a long-standing association and repeat business.
			p We don’t just create jobs! WE BUILD CAREERS!!!
