.job-details__description
	.job-details__description-wrapper.job-details__description-wrapper-1
		p.job-details__description-title Job Description

		.job-details__description-contant
			p.job-details__description-subtitle How OJT Training operates?

			ul
				li We conduct OJT Training for the fresh graduates to get the understanding of web/window based applications, HR and Accounting Solutions business logic,
				li Transact SQL and Workflow services.
				li After complete the training, the qualified trainees will be able to join the company as a Junior Programmer.
				li Qualified trainees have the chance to experience enterprise-level projects and enrich their personal experience and business knowledge.

	.job-details__description-wrapper.job-details__description-wrapper-2
		p.job-details__description-title Open To

		.job-details__description-details-wrapper
			div
				.job-details__description-details
					div
						i.icon-font.icon-success
					div
						span New graduates
			div
				.job-details__description-details
					div
						i.icon-font.icon-success
					div
						span Male/Female

	.job-details__description-wrapper.job-details__description-wrapper-3
		p.job-details__description-title Job Requirements

		.job-details__description-contant
			p.job-details__description-subtitle Minimum Requirement

			ol
				li Minimum Bachelor Degree
				li Understanding of microfinance processes, systems and procedures
				li Minimum 5 years of microfinance experience
				li Basic MS Office, Excel, Word, Powerpoint
				li Fluency in reading, writing and communicating in English
				li Frequent travel to the branches

			p.job-details__description-subtitle Skills and Competencies

			ol
				li Strong qualitative and quantitative analytical skills
				li Familiar with Myanmar microfinance policies and procedures, all relevant laws and external regulations.
				li Commitment to continuous professional development, professional reading and willingness and ability to learn and improve continuously
				li Commitment to ethical standards of MFI’s code of conduct
				li Ability to work independently with minimal supervision to meet deadlines and targets while demonstrating attention to detail and accuracy.
				li Satisfactory report writing skills to draft detailed and well-structured reports
				li
					strong Past experiences related to Basel implementation and/or Operational Risk Management Framework such as Loss Event Database, Control Self-Assessment, Ops Risk Incident Reporting or Key Op Risk Indicators will be viewed as key advantage to the candidate.

			p.job-details__description-subtitle Qualifications

			ol
				li IT Fresh Graduate / Diploma in Computer Studies or equivalent.
				li Must have a basic understanding of the Microsoft .net framework, SQL.
				li Able to communicate well in English.

