.job-details__offer
	.job-details__offer-head
		p.job-details__offer-title What We Can Offer

	.job-details__offer-body
		div
			.job-details__offer-heading
				div
					i.icon-font.icon-like
					i.icon-font.icon-like
				div
					p BENEFITS

			ul.job-details__offer-list
				li
					span - Bonus
				li
					span - Ferry
		div
			.job-details__offer-heading
				div
					i.icon-font.icon-edit
					i.icon-font.icon-edit
				div
					p HIGHLIGHTS

			ul.job-details__offer-list
				li
					span - An awesome company
				li
					span - Join a winning team
				li
					span - You can make a difference
		div
			.job-details__offer-heading
				div
					i.icon-font.icon-star-empty
					i.icon-font.icon-star-empty
				div
					p CAREER OPPORTUNITIES

			ul.job-details__offer-list
				li
					span - Opportunities for promotion
				li
					span - Possibility for job training
				li
					span - Learn new skills and techniques
