.job-details__showing-wrapper
	.job-details__showing
		div
			i.icon-font.icon-graph
		div
			p Experience level
			span Experienced Non-Manager
	.job-details__showing
		div
			i.icon-font.icon-folder
		div
			p Job Function
			span Administrative
	.job-details__showing
		div
			i.icon-font.icon-book
		div
			p Min Education Level
			span Bachelor Degree
