// SECTION :: START

section#blog-main.blog-main
	.c-grid-fluid

		a.blog-main__wrapper(href="#")

			img.blog-main__img(src="img/img-blog-main-bg--mobile.jpg" alt="")

			.blog-main__wrapper-left
				div
					p.blog-main__label Featured Article
					p.blog-main__title နယ်ပယ်တစ်ခုတည်းမှာပဲကျွမ်းကျင်တဲ့သူတွေက အနာဂတ်မှာအလုပ်ရဖို့လွယ်ပါမလား
					p.blog-main__data 6th August, 2020

			.blog-main__wrapper-right

// SECTION :: END
