// SECTION :: START

section#navigation.navigation

	.dropdown
		a#dropdpwnNavigation.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
			| News All
		.dropdown-menu(aria-labelledby='dropdpwnNavigation')
			a.dropdown-item(href='#') News All
			a.dropdown-item(href='#') Career Advice
			a.dropdown-item(href='#') Companies Hiring
			a.dropdown-item(href='#') Job Fairs
			a.dropdown-item(href='#') Job Search
			a.dropdown-item(href='#') Employer News


	.navigation__wrapper

		a.navigation__link.is-active(href="#") News All
		a.navigation__link(href="#") Career Advice
		a.navigation__link(href="#") Companies Hiring
		a.navigation__link(href="#") Job Fairs
		a.navigation__link(href="#") Job Search
		a.navigation__link(href="#") Employer News

// SECTION :: END
