// SECTION :: START

section#navigation.navigation

	.dropdown
		a#dropdpwnNavigation.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
			| News All
		.dropdown-menu(aria-labelledby='dropdpwnNavigation')
			a.dropdown-item(href='#') News All
			a.dropdown-item(href='#') Employer Awards
			a.dropdown-item(href='#') Employer Branding
			a.dropdown-item(href='#') HR Hiring Recruitment
			a.dropdown-item(href='#') Job Market Trends
			a.dropdown-item(href='#') JobNet Events
			a.dropdown-item(href='#') Press
			a.dropdown-item(href='#') JobSeeker News


	.navigation__wrapper

		a.navigation__link.is-active(href="#") News All
		a.navigation__link(href="#") Employer Awards
		a.navigation__link(href="#") Companies Hiring
		a.navigation__link(href="#") HR Hiring Recruitment
		a.navigation__link(href="#") Job Market Trends
		a.navigation__link(href="#") Employer News
		a.navigation__link(href="#") Press
		a.navigation__link(href="#") JobSeeker News

// SECTION :: END
