@font-face {
	font-family: "iconFont";
	src: url('../fonts/iconFont.eot');
	src: url('../fonts/iconFont.eot?#iefix') format('eot'),
		url('../fonts/iconFont.woff2') format('woff2'),
		url('../fonts/iconFont.woff') format('woff'),
		url('../fonts/iconFont.ttf') format('truetype'),
		url('../fonts/iconFont.svg#iconFont') format('svg');
}

@mixin icon-styles {
	font-family: "iconFont", sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == antenna {
		$char: "\E001";
	}
	@if $filename == approved {
		$char: "\E002";
	}
	@if $filename == bank {
		$char: "\E003";
	}
	@if $filename == clock {
		$char: "\E004";
	}
	@if $filename == close {
		$char: "\E005";
	}
	@if $filename == cogwheel {
		$char: "\E006";
	}
	@if $filename == cost {
		$char: "\E007";
	}
	@if $filename == dollar-symbol {
		$char: "\E008";
	}
	@if $filename == facebook {
		$char: "\E009";
	}
	@if $filename == factory {
		$char: "\E00A";
	}
	@if $filename == filter {
		$char: "\E00B";
	}
	@if $filename == folder {
		$char: "\E00C";
	}
	@if $filename == google {
		$char: "\E00D";
	}
	@if $filename == home {
		$char: "\E00E";
	}
	@if $filename == keyboard-arrow-down {
		$char: "\E00F";
	}
	@if $filename == linkedin {
		$char: "\E010";
	}
	@if $filename == menu {
		$char: "\E011";
	}
	@if $filename == notification {
		$char: "\E012";
	}
	@if $filename == office-building {
		$char: "\E013";
	}
	@if $filename == photo {
		$char: "\E014";
	}
	@if $filename == pin {
		$char: "\E015";
	}
	@if $filename == programming {
		$char: "\E016";
	}
	@if $filename == search {
		$char: "\E017";
	}
	@if $filename == shopping-bag {
		$char: "\E018";
	}
	@if $filename == sort {
		$char: "\E019";
	}
	@if $filename == star {
		$char: "\E01A";
	}
	@if $filename == user {
		$char: "\E01B";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-antenna {
	@include icon(antenna);

}
.icon-approved {
	@include icon(approved);

}
.icon-bank {
	@include icon(bank);

}
.icon-clock {
	@include icon(clock);

}
.icon-close {
	@include icon(close);

}
.icon-cogwheel {
	@include icon(cogwheel);

}
.icon-cost {
	@include icon(cost);

}
.icon-dollar-symbol {
	@include icon(dollar-symbol);

}
.icon-facebook {
	@include icon(facebook);

}
.icon-factory {
	@include icon(factory);

}
.icon-filter {
	@include icon(filter);

}
.icon-folder {
	@include icon(folder);

}
.icon-google {
	@include icon(google);

}
.icon-home {
	@include icon(home);

}
.icon-keyboard-arrow-down {
	@include icon(keyboard-arrow-down);

}
.icon-linkedin {
	@include icon(linkedin);

}
.icon-menu {
	@include icon(menu);

}
.icon-notification {
	@include icon(notification);

}
.icon-office-building {
	@include icon(office-building);

}
.icon-photo {
	@include icon(photo);

}
.icon-pin {
	@include icon(pin);

}
.icon-programming {
	@include icon(programming);

}
.icon-search {
	@include icon(search);

}
.icon-shopping-bag {
	@include icon(shopping-bag);

}
.icon-sort {
	@include icon(sort);

}
.icon-star {
	@include icon(star);

}
.icon-user {
	@include icon(user);

}